<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script src="/staticresources/js/checktext.js"></script>
        <script language="JavaScript1.2" >
  function elimina()
  {
    window.opener.document.forms[0].elimina.value="OK";
    window.opener.document.forms[0].submit();
    window.close();
  }
</script>
  $$messaggistica</head>
  <body>
<form name="form1" action="confermaTrasmissioneAssegnazioneSuppl.htm" method="post">
  <input type="hidden" name="idDomandaAssegnazione" value="$$idDomandaAssegnazione">
  <input type="hidden" name="carbLavorazione" value="$$carbLavorazione">
  <input type="hidden" name="carbAllevamento" value="$$carbAllevamento">
  <input type="hidden" name="totLavorazAllevam" value="$$totLavorazAllevam">
  <input type="hidden" name="carbAssegnato" value="$$carbAssegnato">
  <input type="hidden" name="quantMaxAssLavorazAllevam" value="$$quantMaxAssLavorazAllevam">
  <input type="hidden" name="quantMaxAssMietitrebb" value="$$quantMaxAssMietitrebb">
  <input type="hidden" name="quantMaxAssEssicaz" value="$$quantMaxAssEssicaz">
  <input type="hidden" name="quantMaxAssContoProp" value="$$quantMaxAssContoProp">
  <input type="hidden" name="quantMaxAssContoPropSuccess" value="$$quantMaxAssContoPropSuccess">
  <input type="hidden" name="percAssContoPropSuccess" value="$$percAssContoPropSuccess">
  <input type="hidden" name="dataRif" value="$$dataRif">
  <input type="hidden" name="totAssContoPropSuccess" value="$$totAssContoPropSuccess">
  <input type="hidden" name="quantMaxAssRiscaldam" value="$$quantMaxAssRiscaldam">
  <input type="hidden" name="quantMaxAssSerre" value="$$quantMaxAssSerre">
  <input type="hidden" name="numeroSupplemento" value="$$numeroSupplemento">
  <input type="hidden" value="$$rimanenzaContoProprioGasolio" name="rimanenzaContoProprioGasolio">
  <input type="hidden" value="$$rimanenzaContoProprioBenzina" name="rimanenzaContoProprioBenzina">
  <input type="hidden" value="$$rimanenzaContoTerziGasolio" name="rimanenzaContoTerziGasolio">
  <input type="hidden" value="$$rimanenzaContoTerziBenzina" name="rimanenzaContoTerziBenzina">
  <input type="hidden" value="$$assNettaContoProprioGasolio" name="assNettaContoProprioGasolio">
  <input type="hidden" value="$$assNettaContoProprioBenzina" name="assNettaContoProprioBenzina">
  <input type="hidden" value="$$assNettaContoTerziGasolio" name="assNettaContoTerziGasolio">
  <input type="hidden" value="$$assNettaContoTerziBenzina" name="assNettaContoTerziBenzina">
  <input type="hidden" value="$$assNettaRiscSerraGasolio" name="assNettaRiscSerraGasolio">
  <input type="hidden" value="$$assNettaRiscSerraBenzina" name="assNettaRiscSerraBenzina">
  <input type="hidden" value="$$assSupplPrecContoProprioGasolio" name="assSupplPrecContoProprioGasolio">
  <input type="hidden" value="$$assSupplPrecContoProprioBenzina" name="assSupplPrecContoProprioBenzina">
  <input type="hidden" value="$$assSupplPrecContoTerziGasolio" name="assSupplPrecContoTerziGasolio">
  <input type="hidden" value="$$assSupplPrecContoTerziBenzina" name="assSupplPrecContoTerziBenzina">
  <input type="hidden" value="$$assSupplPrecRiscSerraGasolio" name="assSupplPrecRiscSerraGasolio">
  <input type="hidden" value="$$assSupplPrecRiscSerraBenzina" name="assSupplPrecRiscSerraBenzina">
  <input type="hidden" value="$$assSupplContoProprioGasolio" name="assSupplContoProprioGasolio">
  <input type="hidden" value="$$assSupplContoProprioBenzina" name="assSupplContoProprioBenzina">
  <input type="hidden" value="$$assSupplContoTerziGasolio" name="assSupplContoTerziGasolio">
  <input type="hidden" value="$$assSupplContoTerziBenzina" name="assSupplContoTerziBenzina">
  <input type="hidden" value="$$assSupplRiscSerraGasolio" name="assSupplRiscSerraGasolio">
  <input type="hidden" value="$$assSupplRiscSerraBenzina" name="assSupplRiscSerraBenzina">
  <input type="hidden" value="$$dataConsegnaDoc" name="dataConsegnaDoc">
  <input type="hidden" value="$$tipiSupplemento" name="tipiSupplemento">
  <input type="hidden" value="$$descTipiSupplemento" name="descTipiSupplemento">
  <input type="hidden" value="$$motivazioneSupplemento" name="motivazioneSupplemento">
  <input type="hidden" name="altreMacchine" value="$$altreMacchine">
  <div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
  <div id="titoloEmenu">
					<h3>Conferma trasmissione assegnazione</h3>
				</div>
           <div id="corpo"> 
        
        <br>
          
               
           <div class="alert-warning">Attenzione: proseguendo con l'operazione, la domanda di assegnazione supplementare non sara' piu' modificabile.<br />
         Vuoi continuare?</div>
            
                <br>
                <div class="bottone">
                      <div class="left">
                        <input type="submit" name="conferma.x" value="trasmetti">
                      </div>
                   
                      <div align="right">
                        <input type="submit" name="annulla.x" value="annulla">
                      </div>
                    </div>
                  
            
    </div>
  </form>
  </body>
</html>


