<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script language="javascript1.2" src="/staticresources/js/checktext.js"></script>
  <script language="JavaScript" >
          function dettaglio()
          {
            var oldAction=document.form1.action;
            document.form1.action="../layout/carburanteAssegnabile.htm";
            document.form1.submit();
            document.form1.action=oldAction;
          }

          function controlli()
          {
            var oldAction=document.form1.action;
            document.form1.action="../layout/assegnazioni.htm";
            doForm('controlli.x')
            document.form1.submit();
            document.form1.action=oldAction;
          }

          function mod26()
          {
            var d = new Date();
            var unique = (d.getUTCHours()*60+d.getUTCMinutes())*60+d.getUTCSeconds();
            var target = "mod26"+unique;
            pop("",645,500,target);
            document.mod26.target = target;
            document.mod26.submit();
          }

          function mod25()
          {
            var d = new Date();
            var unique = (d.getUTCHours()*60+d.getUTCMinutes())*60+d.getUTCSeconds();
            var target = "mod26"+unique;
            pop("",645,500,target);
            document.mod25.target = target;
            document.mod25.submit();
          }

          function pop(page,w,h,target)
          {
            var winl = (screen.width - w) / 2;
            var wint = (screen.height - h) / 2;
            var winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars=yes,resizable=yes';
            var win = window.open(page, target, winprops);
            if (parseInt(navigator.appVersion) >= 4)
              win.window.focus();
            //win.document.title = "Servizi on line per il mondo rurale";
      	  }

      function pop(page,w,h,target)
      {
      var winl = (screen.width - w) / 2;
      var wint = (screen.height - h) / 2;
      winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars=yes,resizable=yes';
      win = window.open(page, target, winprops);
      if (parseInt(navigator.appVersion) >= 4)
      {
        win.window.focus();
      }
      }

      function linkFormParameter(linkFolder){
      if (parseInt(linkFolder) == 1){
        indirizzo = "../layout/dettaglioDomanda.htm";
          document.form1.annullaBuoni.value="";
      }
      if (parseInt(linkFolder) == 2){
        indirizzo = "../layout/dettaglioVerificaAssegnazione.htm";
      }
      if (parseInt(linkFolder) == 3){
        indirizzo = "../layout/dettaglioAssegnazioniSupplementare.htm";
      }
      document.form1.action = indirizzo;
      document.form1.submit();
      return false;
      }
</script>
  $$messaggistica</head>
    <body onLoad="$$err_error">
  <form name="form1" method="post" action="../layout/assegnazioni.htm">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
 <div id="corpo">
            <div id="navi"> <a href="../../layout/index.htm">utenti motori agricoli</a> &gt; assegnazione
          carburante &gt; dettaglio</div>
        <!-- tabella a due colonne per il contenuto -->
            <table id="contenuto">
       <tr>
             <td class="elenco">
              <!-- cella che contiene i menu -->
              
              <div class="menu">
<!-- @@blkRICERCA_DITTA -->
                <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
<!-- @@blkRICERCA_DITTA -->
<!-- @@blkAZIENDE_TITOLARE -->
                <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
<!-- @@blkAZIENDE_TITOLARE -->
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
                <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca macchina</a>
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
<!-- @@blkNUOVA_DITTA -->
                <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
<!-- @@blkNUOVA_DITTA -->
<!-- @@blkSTAMPA_ELENCHI -->
                <a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
<!-- @@blkSTAMPA_ELENCHI -->
<!-- @@blkMenuDatiSistema -->
                   <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
<!-- @@blkMenuDatiSistema -->
</div>
 <!--						 @@blkMenuDittaUMA -->
<div class="menu">
<span class="etichettamenu"><a href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span>
</div>
 <!--						 @@blkMenuDittaUMA -->
<!-- @@blkMenuAssegnazione -->
<div class="menu">
<span class="etichettamenu">
<a href="../layout/assegnazioni.htm">Assegnazione carburante </a></span>
<span class="inattivo">dettaglio</span>
<a href="javascript:dettaglio()">dettaglio calcolo</a>
<!--@@blkELIMINA_ASSEGNAZIONE-->
<a href="javascript:doForm('elimina.x')">elimina</a>
<!--@@blkELIMINA_ASSEGNAZIONE-->
<!--@@blkANNULLA_ASSEGNAZIONE -->
<a href="javascript:document.form1.action='../layout/dettaglioVerificaAssegnazione.htm';doForm('annulla.x')">annulla</a>
<!--@@blkANNULLA_ASSEGNAZIONE -->
									 <a href="javascript:controlli()">controlli</a>
<!--@@blkSTAMPA_25 -->
<a href="javascript:mod25();">stampa Modello 25 / 25A</a>
<!--@@blkSTAMPA_25 -->
</div>
 <!--						 @@blkMenuAssegnazione -->
<!-- @@blkMenuBuoni -->
              <div class="menu"> <span class="etichettamenu"><a href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di prelievo</a></span></div>
<!-- @@blkMenuBuoni -->
<!-- @@blkMenuMacchine -->
              <div class="menu"> <span class="etichettamenu"><a href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span></div>
<!-- @@blkMenuMacchine -->
            </td>
            <td>
              <!-- cella di destra, contiene i "tabelloni"-->
                <p class="datiazienda">azienda selezionata </p>
              <p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
              <p class="datiaziendaB">Ditta N. $$umaNumAzienda /$$umaTipoDitta</p>
              <p class="datiazienda"> provincia di competenza $$umaProvinciaDitta</p>

                <input type="hidden" name="idDittaUma" value="$$idDittaUma">
                <input type="hidden" name="idDomAss" value="$$idDomAss">
                <input type="hidden" name="statoDomAss" value="$$statoDomAss">
                <input type="hidden" name="annullaBuoni" value="dettaglioVerificaAssegnazione">
                <input type="hidden" name="pageFrom" value="../layout/dettaglioDomanda.htm">
                <h4>ANNO: $$annoDomandaAssegnazione</h4>
           
            <div class="tab">
                     <p class="etichette"> <a href="javascript: linkFormParameter(1)">Domanda di assegnazione</a></p>
                    <p class="etichette tabAttivo">Consumi, rimanenze e assegnazione base</p>
                    <p class="etichette"> <a href="javascript: linkFormParameter(3)">Assegnazioni supplementari</a></p>
               </div>


@@blkConsumiRimanenzeBlk1
<h3>Rimanenze e Consumi</h3>
                <table class="dataCol">
                  <tr>
                    <th>tipo carburante</th>
                    <th>Rimanenza conto proprio</th>
                    <th>Rimanenza conto terzi</th>
                    <th>Rimanenza riscaldamento serra</th>
                    <th>Consumo conto proprio</th>
                    <th>Consumo conto terzi</th>
                    <th>Consumo riscaldamento serra</th>
                    <th>totale</th>
                  </tr>
@@blkConsumiRimanenzeBlk1
  @@blkConsumiRimanenze
  <tr>
    <td>$$descCarburante</td>
    <td>$$rimContoProp</td>
    <td>$$rimContoTer</td>
    <td>$$rimSerra</td>
    <td>$$consContoProp</td>
    <td>$$consContoTer</td>
    <td>$$consSerra</td>
    <td>$$totale</td>
  </tr>
  @@blkConsumiRimanenze
  @@blkConsumiRimanenzeBlk2
  <tr>
    <td colspan="2">Ultima modifica</td>
    <td colspan="6">$$dataAggConsRim ($$denominazioneUtenteConsRim - $$descrizioneEnteConsRim)      </td>
   </tr>
</table>
@@blkConsumiRimanenzeBlk2<!-- @@blkFurto -->

<h3>Carburante oggetto di furto</h3>
              <table class="data">
              <col width="25%" />
              <col width="75%" />
                <!-- @@blkgasolio  -->
                <tr>
                  <th>Gasolio</th>
                  <td>$$gasolioOggettoFurto</td>
                </tr>
                <!-- @@blkgasolio  -->
                <!-- @@blkbenzina  -->
                <tr>
                  <th>Benzina</th>
                  <td>$$benzinaOggettoFurto</td>
                </tr>
                <!-- @@blkbenzina  -->
                <tr>
                  <th>Data protocollo denuncia furto</th>
                  <td>$$dataProtocolloDenFurto</td>
                </tr>
                <tr>
                  <th>Num. Protocollo denuncia furto</th>
                  <td>$$numProtocolloDenFurto</td>
                </tr>
                <tr>
                  <th>Estremi denuncia furto</th>
                  <td>$$estremiDenFurto</td>
                </tr>
    </table>
<!-- @@blkFurto -->    


<h3>Acconto</h3>
<table class="data">
                <tr>
                  <th colspan="2">Data assegnazione</th>
                  <td colspan="3">$$accontoDataAssegnazione</td>
                </tr>
                <tr>
                  <th colspan="2">Stato assegnazione</th>
                  <td colspan="3">$$accontoStatoDomAss</td>
                </tr>

                <tr>
                  <th colspan="2">Protocollo Intermediario</th>
                  <td colspan="3">$$accontoDatiProtocolloIntermediario</td>
                </tr>

                <tr>
                  <th colspan="2">Foglio/riga modulo 39</th>
                  <td colspan="3">$$accontoFoglioRiga</td>
                </tr>
                <tr>
                  <th colspan="2">Data stampa modulo 39</th>
                  <td colspan="3">$$accontoDataStampa</td>
                </tr>
                <tr>
                  <th colspan="2">Ultima modifica</th>
                  <td colspan="3">$$accontoDataAgg ($$accontoDenominazioneUtente,$$accontoDescrizioneEnte)</td>
                </tr>
  @@blkAccontoQuantitaAssegnataBlk
                <tr>
                  <th>tipo carburante</th>
                  <th>Assegnazioni conto proprio</th>
                  <th>Assegnazioni conto terzi</th>
                  <th>Assegnazioni riscaldamento serra</th>
                  <th>totale</th>
  </tr>
  @@blkAccontoQuantitaAssegnataBlk
  @@blkAccontoQuantitaAssegnata
  <tr>
    <td>$$descCarburante</td>
    <td>$$assContoProp</td>
  <td>$$assContoTer</td>
  <td>$$assSerra</td>
    <td class="text-right"><strong>$$totale</strong></td>
  </tr>
  @@blkAccontoQuantitaAssegnata
    </table>
<br />
<h3>Assegnazioni</h3>
              <table class="data">
                <tr>
                  <th colspan="2">Data assegnazione</th>
                  <td colspan="3">$$dataAssegnazione</td>
                </tr>
                <tr>
                  <th colspan="2">Stato assegnazione</th>
                  <td colspan="3">$$statoDomAss</td>
                </tr>
                <tr>
                  <th colspan="2">Protocollo Intermediario</th>
                  <td colspan="3">$$datiProtocolloIntermediario</td>
                </tr>
                <tr>
                  <th colspan="2">Foglio/riga modulo 39</th>
                  <td colspan="3">$$foglioRiga</td>
                </tr>
                <tr>
                  <th colspan="2">Data stampa modulo 39</th>
                  <td colspan="3">$$dataStampa</td>
                </tr>
                <tr>
                  <th colspan="2">Ultima modifica</th>
                  <td colspan="3">$$dataAgg ($$denominazioneUtente,$$descrizioneEnte)</td>
                </tr>
  @@blkQuantitaAssegnataBlk1
                <tr>
                  <th>tipo carburante</th>
                  <th>Assegnazioni conto proprio</th>
                  <th>Assegnazioni conto terzi</th>
                  <th>Assegnazioni riscaldamento serra</th>
                  <th>totale</th>
  </tr>
  @@blkQuantitaAssegnataBlk1
  @@blkQuantitaAssegnata
  <tr>
    <td>$$descCarburante</td>
    <td>$$assContoProp</td>
  <td>$$assContoTer</td>
  <td>$$assSerra</td>
    <td class="text-right"><strong>$$totale</strong></td>
  </tr>
  @@blkQuantitaAssegnata
    </table>
                </td>
              </tr>
            </table>
        <!-- fine della tabella a due colonne -->
    </div>
    <div id="hiddenElement"></div>
    </form>
    <form name="mod25" method="post" action="/solmruma/servlet/StampaServletMod25_25A" target="mod25">
      <input type="hidden" name="idDomAss" value="$$idDomAss">
    </form>
    <form name="mod26" method="post" action="/solmruma/servlet/StampaServletMod26" target="mod26">
      <input type="hidden" name="dittaUma" value="$$umaNumAzienda">
      <input type="hidden" name="provinciaUma" value="$$umaProvinciaDitta">
    </form>
    
    <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <hr />
    <a name="footer"></a>
    <div class="custom footerCsi row-fluid">
      <div class="span3 col-sm-3"> <a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
      <div class="span9 col-sm-9"> Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
    </div>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>

