<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

<script language="javascript1.2" src="/staticresources/js/checktext.js">	
</script>
<script language="JavaScript">
  function dettaglio(){
    document.form1.operation.value='dettaglio';    
	document.form1.submit();
  }
  
	function pop(str) {
		searchWin = window
				.open(
						str,
						'dettaglio',
						'scrollbars=yes,resizable=yes,width=800,height=600,status=no,location=no,toolbar=no');
	}
	
	function pop(page, w, h, target) {
		var winl = (screen.width - w) / 2;
		var wint = (screen.height - h) / 2;
		var winprops = 'height=' + h + ',width=' + w + ',top=' + wint
				+ ',left=' + winl + ',scrollbars=yes,resizable=yes';
		var win = window.open(page, target, winprops);
		if (parseInt(navigator.appVersion) >= 4)
			win.window.focus();
		//win.document.title = "Servizi on line per il mondo rurale";
	}
	
	function pop(page, w, h, target) {
		var winl = (screen.width - w) / 2;
		var wint = (screen.height - h) / 2;
		winprops = 'height=' + h + ',width=' + w + ',top=' + wint + ',left='
				+ winl + ',scrollbars=yes,resizable=yes';
		win = window.open(page, target, winprops);
		if (parseInt(navigator.appVersion) >= 4) {
			win.window.focus();
		}
	}
</script>
$$messaggistica</head>
  <body onLoad="$$err_error">
	<form name="form1" method="post" action="../layout/dettaglioCalcoloAssSuppl.htm">	 
	   <input type="hidden" name="operation" value="">	  
	   <input type="hidden" name="idDomAss" value="$$idDomAss">

<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
			
					     <div id="corpo"> 
						<div id="navi">
							<a href="../../layout/index.htm">utenti motori agricoli </a> &gt;
							assegnazione carburante &gt; verifica assegnazione $$anno

							<!-- tabella a due colonne per il contenuto -->
						</div>
						<table id="contenuto">
       <tr>
             <td class="elenco">
									<!-- cella che contiene i menu -->
									
									<div class="menu">
										<!-- @@blkRICERCA_DITTA -->
										<a href="../../anag/layout/ricercaAzienda.htm">Ricerca
											ditta UMA</a>
										<!-- @@blkRICERCA_DITTA -->
										<!-- @@blkAZIENDE_TITOLARE -->
										<a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco
											ditte</a>
										<!-- @@blkAZIENDE_TITOLARE -->
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<a href="../../macchina/layout/ricercaMacchina.htm">Ricerca
											macchina</a>
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<!-- @@blkNUOVA_DITTA -->
										<a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova
											ditta UMA</a>
										<!-- @@blkNUOVA_DITTA -->
										<!-- @@blkSTAMPA_ELENCHI -->
										<a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
										<!-- @@blkSTAMPA_ELENCHI -->
										<!-- @@blkMenuDatiSistema -->
										<a href="../../layout/dati_sistema.htm">Dati di sistema</a>
										<!-- @@blkMenuDatiSistema -->
									</div>  <!--						 @@blkMenuDittaUMA -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span>
									</div>  <!--						 @@blkMenuDittaUMA --> 
									<!-- @@blkMenuAssegnazione -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../layout/assegnazioni.htm">Assegnazione carburante </a></span>
										<a href="javascript:dettaglio()">dettaglio</a>
										<span class="inattivo">dettaglio calcolo</span>
										<!--@@blkELIMINA_ASSEGNAZIONE-->
										<br>
										<a href="javascript:doForm('elimina.x')">elimina</a>
										<!--@@blkELIMINA_ASSEGNAZIONE-->
										<!--@@blkANNULLA_ASSEGNAZIONE -->
									 <a href="javascript:doForm('annulla.x')">annulla 
										<!--@@blkANNULLA_ASSEGNAZIONE -->
											 <!--						@@blkSTAMPA_25 --> <a
											href="javascript:mod25();">stampa Modello 25 / 25A</a>
											<!--@@blkSTAMPA_25 -->
									</div>  <!--						 @@blkMenuAssegnazione --> 
									<!-- @@blkMenuBuoni -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di
												prelievo</a></span>
									</div> <!-- @@blkMenuBuoni --> 
									<!-- @@blkMenuMacchine --> <div class="menu">
										<span class="etichettamenu"><a
											href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span>
									</div> <!-- @@blkMenuMacchine -->
								</td>

								<td>
									<!-- cella di destra, contiene i "tabelloni"-->
									<p class="datiazienda">azienda selezionata</p>
									<p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
									<p class="datiaziendaB">Ditta N. $$umaNumAzienda
										/$$umaTipoDitta</p>
									<p class="datiazienda">provincia di competenza
										$$umaProvinciaDitta</p> <br>

				<table class="data">		
					<col width="40%" />
                <col width="60%" />
					
				    <tr>
                      <th>Tipologia </th>
                      <td>Assegnazione supplemetare</td>
                    </tr>
                    <tr>
                      <th>Anno </th>
                      <td>$$annoDomanda</td>
                      <input type="hidden" name="annoInizioLavCp" value="$$annoInizioLavCp">
                      <input type="hidden" name="annoRiferimento" value="$$annoDomanda">
                    </tr>
				    <tr>
					  <th>Quantitativo massimo assegnabile conto proprio </th>
					  <td>$$totAssContoPropSuccess</td>
					</tr>
					<tr>
					  <th>Quantitativo massimo assegnabile serre</th>
					  <td>$$quantMaxAssSerre</td>
					</tr>
				</table><br />

				<table class="dataCol">
				<col width="33%" />
				<col width="33%" />
                <col width="33%" />
					<tr>
						<th>Attivit&agrave; svolte con conduzione in conto proprio</th>
						<th>Litri di carburante</th>
						<th></th>
					</tr>
					<tr>
						<td>A) Limite lavorazioni per aumento di superficie</td>
						<td>$$carbLavorazAumentoSup</td>
						<td>
						   <a href="javascript: pop('datiLavorazioniCpAssSupplPOP.htm?idAssegnazioneCarburante=$$idAssegnazioneCarburante&annoRiferimento=$$annoDomanda',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
						</td>
					</tr>
					<tr>
					  <td>B) Limite lavorazioni per colture secondarie</td>
					  <td>$$carbLavorazColtSec</td>
					  <td>
					     <a href="javascript: pop('datiLavorazioniCpAssSupplPOP.htm?idAssegnazioneCarburante=$$idAssegnazioneCarburante&annoRiferimento=$$annoDomanda',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
					  </td>
					</tr>
					<tr>
					  <td>C) Limite tabella allevamenti</td>
					  <td>$$carbAllevamento</td>
					  <td>
					    <a href="javascript: pop('datiAllevamentiAziendaPOP.htm?idDomandaassegnazione=$$idDomandaassegnazione&annoRiferimento=$$annoDomanda&numSupplemento=$$numSupplemento',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
					  </td>
					</tr>
					<tr>
					  <td>D) Limite lavorazioni assegnazione base</td>
					  <td>$$carbLavorazAssBase</td>
					  <td>&nbsp;</td>
					</tr>
					<tr>
					  <td>Somma (A + B + C + D)</td>
					  <td>$$totABCD</td>
				 	  <td>&nbsp;</td>
				   </tr>
				   <tr>
					  <td>E) Aumento carburante allevamenti<br>(rispetto ad assegnazione base)</td>
					  <td>$$aumentoCarbAllev</td>
				 	  <td>&nbsp;</td>
				   </tr>
				   <tr>
				     <td>F) Limite consumi unitari per macchina</td>
					 <td>$$carbComsumiUnitariPerMacchina</td>
					 <td>
					   <a href="javascript: pop('datiCarburanteMacchinePOP.htm?idDomandaassegnazione=$$idDomandaassegnazione&annoRiferimento=$$annoDomanda&numSupplemento=$$numSupplemento',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
					 </td>
				   </tr>
				   <tr>
					  <td>G) Aumento carburante macchine<br>(rispetto ad assegnazione base)</td>
					  <td>$$aumentoCarbMacchine</td>
				 	  <td>&nbsp;</td>
				   </tr>
				   <tr>
					 <td>H) Quantitativo assegnabile per colture e allevamenti<br>(A + B + E oppure G)</td>
					 <td>$$quantAssColtAllev</td>
					<td>&nbsp;</td>
				   </tr>
  				   <tr>
				     <td>I) Quantitativo assegnabile per lavorazioni eccezionali</td>
					 <td>$$quantAssLavorazEccez</td>
					 <td>
					   <a href="javascript: pop('datiLavorazioniCpAssSupplPOP.htm?idAssegnazioneCarburante=$$idAssegnazioneCarburante&annoRiferimento=$$annoDomanda',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
					 </td>
				   </tr>
				   <tr>
				     <td>Quantitativo massimo assegnabile per attivit&agrave; conto proprio (somma H + I)</td>
					 <td>$$quantMassAssegnabAttivCp</td>
					 <td>&nbsp;</td>
				   </tr>
 				   <tr>
					 <td>Totale (arrotondamento ai 10 Litri superiori)</td>
					 <td>$$totAssContoPropSuccess</td>
					<td>&nbsp;</td>
				   </tr>
			</table> <br>
			<table class="dataCol">
				<col width="33%" />
				<col width="33%" />
                <col width="33%" />
				<tr>
					<th>Carburante per riscaldamento serre</th>
					<th>Litri di carburante</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
				  <td>Limite riscaldamento serre</td>
				  <td>$$limiteRiscaldamentoSerre</td>
				  <td>
				    <a href="javascript:pop('datiSerreAziendaPOP.htm?idDomandaassegnazione=$$idDomandaassegnazione&annoRiferimento=$$annoDomanda&numSupplemento=$$numSupplemento',645,500,'dettCalcolo');" class="pulsante" >dettaglio</a>
				  </td>
				</tr>
				<tr>
				  <td>Quantitativo massimo assegnabile<br>(aumento rispetto ad assegnazione base)</td>
				  <td>$$quantMaxAssRiscaldam</td>
				  <td>&nbsp;
				    
				  </td>
				</tr>
				<tr>
				  <td>Totale (arrotondamento ai 10 Litri superiori)</td>
			      <td>$$quantMaxAssSerre</td>
				  <td>&nbsp;</td>
				</tr>
			</table>  
		  </td>
		</tr>
	</table> <!-- fine della tabella a due colonne -->
 
</div>

 <footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>