<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script language="javascript1.2" src="/staticresources/js/checktext.js"></script>
<script language="JavaScript">
      function emetti() {
        var daAction = document.form1.action;
        document.form1.action = "../../domass/layout/emissioneBuono.htm";
        document.form1.submit();
        document.form1.action = daAction;
      }
      function checkBruciatore(flag){
        if(flag!='')
          alert(flag);
      }
    </script>
$$messaggistica</head>
<body onload = "checkBruciatore('$$flag'); $$err_error">
<!-- $$err_dataUltimoPrelievo $$err_qtaUltimoPrelievo -->
<form name="form1" method="post" action="../layout/restituzioneBuono.htm">
  <input type="hidden" name="dataEmissione" value="$$dataEmissione">
  <input type="hidden" name="gasolioConc" value="$$gasolioConc">
  <input type="hidden" name="benzinaConc" value="$$benzinaConc">
  <input type="hidden" name="idCarburanteGasolio" value="$$idCarburanteGasolio">
  <input type="hidden" name="idCarburanteBenzina" value="$$idCarburanteBenzina">
  <div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
  <div id="titoloEmenu">
    <h2> UMA - Utenti motori agricoli </h2>
    <p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
  </div>
  <div id="corpo">
    <div id="navi"> <a href="../../layout/index.htm">utenti motori agricoli </a> &gt; buoni di
      prelievo &gt; restituisci</div>
    <!-- tabella a due colonne per il contenuto -->
    <table id="contenuto">
      <tr>
        <td class="elenco"><!-- cella che contiene i menu -->
          <div class="menu">
            <!-- @@blkRICERCA_DITTA -->
            <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
            <!-- @@blkRICERCA_DITTA -->
            <!-- @@blkAZIENDE_TITOLARE -->
            <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
            <!-- @@blkAZIENDE_TITOLARE -->
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca Macchina</a>
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <!-- @@blkNUOVA_DITTA -->
            <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova Ditta UMA</a>
            <!-- @@blkNUOVA_DITTA -->
            <!-- @@blkSTAMPA_ELENCHI -->
            <a href="../../layout/stampaElenchi.htm">Stampa Elenchi</a>
            <!-- @@blkSTAMPA_ELENCHI -->
            <!-- @@blkMenuDatiSistema -->
            <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
            <!-- @@blkMenuDatiSistema -->
          </div>
          <!-- @@blkMenuDittaUMA -->
          <div class="menu"> <span class="etichettamenu"> <a href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a> </span> </div>
          <!-- @@blkMenuDittaUMA -->
          <!-- @@blkMenuAssegnazione -->
          <div class="menu"> <span class="etichettamenu"> <a href="../layout/assegnazioni.htm">Assegnazione carburante</a> </span> </div>
          <!-- @@blkMenuAssegnazione -->
          <!-- @@blkMenuBuoni -->
          <div class="menu"> <span class="etichettamenu"><a href="#">Buoni di prelievo</a></span>
            <!-- @@blkRESTITUZIONE_BUONO -->
            <span class="inattivo">restituisci</span>
            <!-- @@blkRESTITUZIONE_BUONO -->
          </div>
          <!-- @@blkMenuBuoni -->
          <!-- @@blkMenuMacchine -->
          <div class="menu"> <span class="etichettamenu"> <a href="../../macchina/layout/elencoMacchine.htm">Macchine</a> </span> </div>
          <!-- @@blkMenuMacchine -->
        </td>
        <td><!-- cella di destra, contiene i "tabelloni"-->
          <p class="datiazienda">azienda selezionata</p>
          <p class="datiaziendaB">$$CUAA $$denominazione</p>
          <p class="datiaziendaB">Ditta UMA N. $$dittaUMA / $$umaTipoDitta</p>
          <p class="datiazienda">provincia di competenza $$provinciaUMA<br>
          </p>
          <h4>Anno $$annoRife </h4>
          <h3>Dichiarazione prelievi effettuati</h3>
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Numero Blocco / Buono</th>
              <td>$$blocco/$$buono </td>
            </tr>
            <tr>
              <th>Data emissione </th>
              <td>$$dataEmissione</td>
            </tr>
            <tr>
              <th>Data restituzione </th>
              <td><input type="text" name="dataRestituzione" size="15" value="$$dataRestituzione">
                $$err_data </td>
            </tr>
            <tr>
              <th>Tipo utilizzo </th>
              <td><input type="radio" name="carburante" value="noSerraCp" $$noSerraCp $$disabled>
                Carburante per attivit&agrave; agricole conto proprio<br>
                <input type="radio" name="carburante" value="noSerraCt" $$noSerraCt $$disabled>
                Carburante per attivit&agrave; agricole conto terzi<br>
                <input type="radio" name="carburante" value="serra"$$serra $$disabled>
                Carburante per riscaldamento Serra </td>
            </tr>
          </table><br />

          <table class="dataCol">
          <col width="33%" />
           <col width="33%" />
          <col width="33%" />
           <tr>
              <td>&nbsp;</td>
              <th>GASOLIO</th>
              <th>BENZINA</th>
            </tr>
            <tr>
              <td class="text-right"><strong>Quantit&agrave; concessa</strong> </td>
              <td> $$gasolioConc</td>
              <td> $$benzinaConc</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Quantit&agrave; prelevata $$err_qta</strong></td>
              <td><input type="text" name="gasolioPrel" size="10" value="$$gasolioPrel" $$readonly>
              </td>
              <td><input type="text" name="benzinaPrel" size="10" value="$$benzinaPrel" $$readonly>
                <!--@@blkHiddens-->
                <input type="hidden" name="gasolioPrel" value="$$gasolioPrel" />
                <input type="hidden" name="benzinaPrel" value="$$benzinaPrel" />
                <!--@@blkHiddens-->
              </td>
            </tr>
            <!--@@blkUltimoPrelievo-->
            <tr>
              <td class="text-right"><strong>Data ultimo prelievo ##err_dataUltimoPrelievo</strong></td>
              <td><input type="text" name="dataUltimoPrelievoG" maxlength="10" size="10" value="$$dataUltimoPrelievoG" $$readonly>
              </td>
              <td><input type="text" name="dataUltimoPrelievoB" maxlength="10" size="10" value="$$dataUltimoPrelievoB" $$readonly>
              </td>
            </tr>
            <tr>
              <td class="text-right"><strong>Quantit&agrave; ultimo prelievo ##err_qtaUltimoPrelievo</strong></td>
              <td><input type="text" name="qtaUltimoPrelievoG" size="10" value="$$qtaUltimoPrelievoG" $$readonly>
              </td>
              <td><input type="text" name="qtaUltimoPrelievoB" size="10" value="$$qtaUltimoPrelievoB" $$readonly>
              </td>
            </tr>
            <!--@@blkUltimoPrelievo-->
          </table>
          <div class="bottone">
            <div class="left">
              <!-- a href="elencoBuoniEmessi.htm" -->
              <input type="submit" value="salva" name="salva">
              <!-- /a -->
            </div>
            <div class="right">
              <!-- a href="elencoBuoniEmessi.htm" -->
              <input type="submit" value="annulla" name="back">
              <!-- /a -->
            </div>
          </div>
          <br>
          $$bruciatore </td>
      </tr>
    </table>
    <!-- fine della tabella a due colonne -->
  </div>
</form>
<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <hr />
    <a name="footer"></a>
    <div class="custom footerCsi row-fluid">
      <div class="span3 col-sm-3"> <a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
      <div class="span9 col-sm-9"> Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
    </div>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
