<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script language="javascript1.2" src="/staticresources/js/checktext.js"></script>
<script language="javascript1.2">
function sommaAssSuppl(carb)
    {
      if (carb == "G")
      {
        //gasolio
        var assSupplContoProprioGasolio = Number(document.form1.assSupplContoProprioGasolio.value);
        var assSupplContoTerziGasolio = Number(document.form1.assSupplContoTerziGasolio.value);
        var assSupplRiscSerraGasolio = Number(document.form1.assSupplRiscSerraGasolio.value);

        var totAssSupplGasolio = assSupplContoProprioGasolio + assSupplContoTerziGasolio + assSupplRiscSerraGasolio;

        if(totAssSupplGasolio <= 0 || isNaN(totAssSupplGasolio))
          totAssSupplGasolio = 0;

        writeValue("totAssSupplGasolio", totAssSupplGasolio);
      }
      else if (carb == "B")
      {
        //benzina
        var assSupplContoProprioBenzina = Number(document.form1.assSupplContoProprioBenzina.value);
        var assSupplContoTerziBenzina = Number(document.form1.assSupplContoTerziBenzina.value);
        var assSupplRiscSerraBenzina = Number(document.form1.assSupplRiscSerraBenzina.value);

        var totAssSupplBenzina = assSupplContoProprioBenzina + assSupplContoTerziBenzina + assSupplRiscSerraBenzina;

        if(totAssSupplBenzina <= 0 || isNaN(totAssSupplBenzina))
          totAssSupplBenzina = 0;

        writeValue("totAssSupplBenzina", totAssSupplBenzina);
      }
    }

    function writeValue(name, value)
    {
      var divElement=document.getElementById(name);
      divElement.innerHTML=value;
    }

    function dettaglio()
    {
      var oldAction=document.form1.action;
      document.form1.action="../layout/carburanteAssegnabile.htm";
      document.form1.submit();
      document.form1.action=oldAction;
  }
  function openWindow(url, titolo) {
      alert(url);
      window.open(url, titolo, 'height=500 width=500 resizable=yes scrollbars=yes');
    }
  /*************************************************************************************/
  //Calcola in modo automatico i consumi dell'assegnazione, in base alle rimanenze
  //  impostate e alla tipologia di carburante.
  //Se viene modificato un consumo, reimposta il consumo con la tipologia di conduzione
  //  gemella, valutando la tipologia di carburante sulla quale si opera
  /*************************************************************************************/
    function calcoloConsumo(carburante, contoProprioTerzi)
    {
      var totale;
      var rimContoProprio;
      var rimContoTerzi;
      var consumoContoProprio;
      var consumoContoTerzi;
      var temp = Number(0);
      var debug=0;

    if (debug == 1){
      window.alert("calcoloConsumo('"+carburante+"','"+contoProprioTerzi+"')");
    }

      if(carburante == 1)
      {
    if (debug == 1){
      window.alert("conto Proprio");
    }
        totale = Number(document.form1.totDisponibilitaGasolio.value);
        rimContoProprio = document.form1.rimanenzaContoProprioGasolio;
        rimContoTerzi = document.form1.rimanenzaContoTerziGasolio;
        consumoContoProprio = document.form1.consumoContoProprioGasolio;
        consumoContoTerzi = document.form1.consumoContoTerziGasolio;
      }
      else
      {
    if (debug == 1){
      window.alert("conto Terzi");
    }
      totale = Number(document.form1.totDisponibilitaBenzina.value);
      rimContoProprio = document.form1.rimanenzaContoProprioBenzina;
      rimContoTerzi = document.form1.rimanenzaContoTerziBenzina;
      consumoContoProprio = document.form1.consumoContoProprioBenzina;
      consumoContoTerzi = document.form1.consumoContoTerziBenzina;
      }

    if (debug == 1){
      window.alert("dopo assegnazione");
    }

    if (contoProprioTerzi == 1){
    //Conto Proprio - Non ha senso valutare se la rimanenza è inferiore a 0
    if(isNaN(rimContoProprio.value) || Number(rimContoProprio.value)<0)
      return;
    if (debug == 1){
      window.alert("conto Proprio");
    }
      }else{
    //Conto Terzi - Non ha senso valutare se la rimanenza è inferiore a 0
    if (debug == 1){
      window.alert("conto Terzi");
    }
    if(isNaN(rimContoTerzi.value) || Number(rimContoTerzi.value)<0)
      return;
      }

    if (debug == 1){
    window.alert("dopo if (contoProprioTerzi == 1)");
    }

      if(!isNaN(rimContoProprio.value))
        temp += Number(rimContoProprio.value);
      if(!isNaN(rimContoTerzi.value))
        temp += Number(rimContoTerzi.value);

    if (debug == 1){
      window.alert("contoProprioTerzi: "+contoProprioTerzi);
    }
    if (contoProprioTerzi == 1){
      if (debug == 1){
        window.alert("conto Proprio");
    }
    if(!isNaN(consumoContoTerzi.value))
          temp += Number(consumoContoTerzi.value);
      consumoContoProprio.value = totale - temp;
      if (debug == 1){
        window.alert("consumoContoProprio: "+consumoContoProprio.value);
    }
      if(consumoContoProprio.value < 0 || consumoContoProprio.value == 0)
        consumoContoProprio.value = '';
    }
    else{
      if (debug == 1){
        window.alert("conto Terzi");
    }
    if(!isNaN(consumoContoProprio.value))
          temp += Number(consumoContoProprio.value);
    consumoContoTerzi.value = totale - temp;
        if (debug == 1){
        window.alert("consumoContoTerzi: "+consumoContoTerzi.value);
    }
    if(consumoContoTerzi.value < 0 || consumoContoTerzi.value == 0)
        consumoContoTerzi.value = '';
    }
    }
	
</script>
$$messaggistica</head>
  <body onLoad="$$err_error">
	<form name="form1" method="post" action="$$action">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
 <div id="corpo">
						<div id="navi">
							<a href="../../layout/index.htm">utenti motori agricoli </a> &gt;
							assegnazione carburante &gt; assegnazione supplementare
							$$annoCorrente
							<!-- tabella a due colonne per il contenuto -->
						</div>
						<table id="contenuto">
       <tr>
             <td class="elenco">
									<!-- cella che contiene i menu -->
									

									<div class="menu">
										<!-- @@blkRICERCA_DITTA -->
										<a href="../../anag/layout/ricercaAzienda.htm">Ricerca
											ditta UMA</a>
										<!-- @@blkRICERCA_DITTA -->
										<!-- @@blkAZIENDE_TITOLARE -->
										<a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco
											ditte</a>
										<!-- @@blkAZIENDE_TITOLARE -->
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<a href="../../macchina/layout/ricercaMacchina.htm">Ricerca
											macchina</a>
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<!-- @@blkNUOVA_DITTA -->
										<a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova
											ditta UMA</a>
										<!-- @@blkNUOVA_DITTA -->
										<!-- @@blkSTAMPA_ELENCHI -->
										<a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
										<!-- @@blkSTAMPA_ELENCHI -->
										<!-- @@blkMenuDatiSistema -->
										<a href="../../layout/dati_sistema.htm">Dati di sistema</a>
										<!-- @@blkMenuDatiSistema -->
									</div>  <!-- @@blkMenuDittaUMA -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span>
									</div>  <!--@@blkMenuDittaUMA --> 
                                    <!-- @@blkMenuAssegnazione -->
									<div class="menu">
										<span class="etichettamenu"> <a
											href="../../domass/layout/assegnazioni.htm">Assegnazione
												carburante </a></span>
										<!--@@blkASSEGNAZIONE_SUPPLEMENTO -->
										<span class="inattivo">assegnazione supplementare
											$$annoDiRiferimento</span>
										<!--@@blkASSEGNAZIONE_SUPPLEMENTO -->
										
										<!--@@blkASSEGNAZIONE_SUPPLEMENTOMAGGIORAZIONE -->
  											<span class="inattivo">$$titoloMaggiorazione</span>  
										<!--@@blkASSEGNAZIONE_SUPPLEMENTOMAGGIORAZIONE --> 
									</div>  
                                    <!-- @@blkMenuAssegnazione --> 
                                    <!-- @@blkMenuBuoni -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di
												prelievo</a></span>
									</div>
                                     <!-- @@blkMenuBuoni -->
                                     <!-- @@blkMenuMacchine --> 
                                     <div class="menu">
										<span class="etichettamenu"><a
											href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span>
									</div> 
                                    <!-- @@blkMenuMacchine -->
								</td>
								<td>
									<!-- cella di destra, contiene i "tabelloni"-->
									<p class="datiazienda">azienda selezionata</p>
									<p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
									<p class="datiaziendaB">Ditta N. $$umaNumAzienda/$$umaTipoDitta</p>
									<p class="datiazienda">provincia di competenza $$umaProvinciaDitta</p> <br>
									<!-- @@blkTitoloAssSuppl -->
						                 <h4>ASSEGNAZIONE SUPPLEMENTARE: $$annoCorrente</h4>
						            <!-- @@blkTitoloAssSuppl -->
						            <!-- @@blkTitoloAssSupplementareMaggiorazione -->
						               	 <h4>$$titoloAssSupplMagg</h4>
						            <!-- @@blkTitoloAssSupplementareMaggiorazione -->									
							
                                 
                                  @@blkAltreMacchine
                                  
									 <div class="alert-warning">
										ATTENZIONE: la ditta ha in carico delle macchine che non sono
										state considerate nel programma di calcolo automatico del
										quantitativo massimo di carburante assegnabile<br>
									</div> @@blkAltreMacchine <input type="hidden"
									name="fromVerificaAssegnazione" value="1"> <input
									type="hidden" name="pageFrom" value="$$pageFrom"> <input
									type="hidden" name="idDomAss" value="$$idDomandaAssegnazione">
									<input type="hidden" name="idDomandaAssegnazione"
									value="$$idDomandaAssegnazione"> <input type="hidden"
									name="carbLavorazione" value="$$carbLavorazione"> <input
									type="hidden" name="carbAllevamento" value="$$carbAllevamento">
									<input type="hidden" name="totLavorazAllevam"
									value="$$totLavorazAllevam"> <input type="hidden"
									name="carbAssegnato" value="$$carbAssegnato"> <input
									type="hidden" name="quantMaxAssLavorazAllevam"
									value="$$quantMaxAssLavorazAllevam"> <input
									type="hidden" name="quantMaxAssMietitrebb"
									value="$$quantMaxAssMietitrebb"> <input type="hidden"
									name="quantMaxAssEssicaz" value="$$quantMaxAssEssicaz">
									<input type="hidden" name="quantMaxAssContoProp"
									value="$$quantMaxAssContoProp"> <input type="hidden"
									name="quantMaxAssContoPropSuccess"
									value="$$quantMaxAssContoPropSuccess"> <input
									type="hidden" name="percAssContoPropSuccess"
									value="$$percAssContoPropSuccess"> <input type="hidden"
									name="dataRif" value="$$dataRif"> <input type="hidden"
									name="totAssContoPropSuccess" value="$$totAssContoPropSuccess">
									<input type="hidden" name="altreMacchine"
									value="$$altreMacchine"> <input type="hidden"
									name="quantMaxAssRiscaldam" value="$$quantMaxAssRiscaldam">
									<input type="hidden" name="quantMaxAssSerre"
									value="$$quantMaxAssSerre"> <input type="hidden"
									name="quantMaxAssContoProprio"
									value="$$quantMaxAssContoProprio">
									<input type="hidden" name="numeroSupplemento" value="$$numeroSupplemento">									
									<input type="hidden"
									name="validaDomAss" value="">									
									
									<table class="data">
										<tr>
											<th>Quantitativo massimo assegnabile conto proprio</th>
											<td>$$quantMaxAssContoProprio <input type="hidden"
												value="$$quantMaxAssContoProprio"
												name="quantMaxAssContoProprio">
											</td>
											</tr>
										<tr>
											<th>Quantitativo massimo assegnabile serre</th>
											<td colspan="1">$$quantMaxAssSerre</td>
										</tr>
									</table>
									<table class="dataCol">
										<tr>
											<td></td>
											<th>GASOLIO</th>
											<th colspan="2">BENZINA</th>
										</tr>
										<tr>
											<td>
												<h3>Rimanenza attuale:</h3>
											</td>
											<td></td>
											<td colspan="2"></td>
										</tr>

										<!--## LOOK AT ME!! ## così devono essere i campi protetti-->

										<tr>
											<td class="text-right"><strong>Rimanenza Conto Proprio</strong></td>
											<td>$$rimanenzaContoProprioGasolio <input type="hidden"
												value="$$rimanenzaContoProprioGasolio"
												name="rimanenzaContoProprioGasolio">
											</td>
											<td colspan="2">
												$$rimanenzaContoProprioBenzina <input
												type="hidden" value="$$rimanenzaContoProprioBenzina"
												name="rimanenzaContoProprioBenzina">
											</td>
										</tr>

										<!--## LOOK AT ME!! ## così devono essere i campi protetti-->

										<tr>
											<td class="text-right"><strong>Rimanenza Conto Terzi</strong></td>
											<td>$$rimanenzaContoTerziGasolio <input type="hidden"
												value="$$rimanenzaContoTerziGasolio"
												name="rimanenzaContoTerziGasolio">
											</td>
											<td colspan="2">$$rimanenzaContoTerziBenzina <input
												type="hidden" value="$$rimanenzaContoTerziBenzina"
												name="rimanenzaContoTerziBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Totale</strong></td>
											<td>$$totRimanenzaGasolio</td>
											<td colspan="2">$$totRimanenzaBenzina</td>
										</tr>
										<tr>
											<td><h3>Assegnazione netta:</h3></td>
											<td></td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Proprio</strong></td>
											<td>$$assNettaContoProprioGasolio <input type="hidden"
												value="$$assNettaContoProprioGasolio"
												name="assNettaContoProprioGasolio">
											</td>
											<td colspan="2">$$assNettaContoProprioBenzina <input
												type="hidden" value="$$assNettaContoProprioBenzina"
												name="assNettaContoProprioBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Terzi</strong></td>
											<td>$$assNettaContoTerziGasolio <input type="hidden"
												value="$$assNettaContoTerziGasolio"
												name="assNettaContoTerziGasolio">
											</td>
											<td colspan="2">$$assNettaContoTerziBenzina <input
												type="hidden" value="$$assNettaContoTerziBenzina"
												name="assNettaContoTerziBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Riscaldamento Serre</strong></td>
											<td>$$assNettaRiscSerraGasolio <input type="hidden"
												value="$$assNettaRiscSerraGasolio"
												name="assNettaRiscSerraGasolio">
											</td>
											<td colspan="2">$$assNettaRiscSerraBenzina <input
												type="hidden" value="$$assNettaRiscSerraBenzina"
												name="assNettaRiscSerraBenzina">
										</tr>
										<tr>
											<td class="text-right"><strong>Totale</strong></td>
											<td>$$totAssNettaGasolio</td>
											<td colspan="2">$$totAssNettaBenzina</td>
										</tr>
										<tr>
											<td><h3>Assegnazioni supplementari precedenti:</h3></td>
											<td></td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Proprio</strong></td>
											<td>$$assSupplPrecContoProprioGasolio <input
												type="hidden" value="$$assSupplPrecContoProprioGasolio"
												name="assSupplPrecContoProprioGasolio">
											</td>
											<td colspan="2">$$assSupplPrecContoProprioBenzina <input
												type="hidden" value="$$assSupplPrecContoProprioBenzina"
												name="assSupplPrecContoProprioBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Terzi</strong></td>
											<td>$$assSupplPrecContoTerziGasolio <input type="hidden"
												value="$$assSupplPrecContoTerziGasolio"
												name="assSupplPrecContoTerziGasolio">
											</td>
											<td colspan="2">$$assSupplPrecContoTerziBenzina <input
												type="hidden" value="$$assSupplPrecContoTerziBenzina"
												name="assSupplPrecContoTerziBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Riscaldamento Serre</strong></td>
											<td>$$assSupplPrecRiscSerraGasolio <input type="hidden"
												value="$$assSupplPrecRiscSerraGasolio"
												name="assSupplPrecRiscSerraGasolio">
											</td>
											<td colspan="2">$$assSupplPrecRiscSerraBenzina <input
												type="hidden" value="$$assSupplPrecRiscSerraBenzina"
												name="assSupplPrecRiscSerraBenzina">
											</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Totale</strong></td>
											<td>$$totAssSupplPrecGasolio</td>
											<td colspan="2">$$totAssSupplPrecBenzina</td>
										</tr>
										<tr>
											<td><h3>Nuova Assegnazione Supplementare :</h3></td>
											<td></td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Proprio</strong></td>
											<td><input maxlength="7" type="text" size="10"
												onChange="javascript:sommaAssSuppl('G')"
												name="assSupplContoProprioGasolio" class="EDIT"
												value="$$assSupplContoProprioGasolio">
												$$err_assSupplContoProprioGasolio</td>
											<td colspan="2"><input maxlength="7" type="text"
												size="10" onChange="javascript:sommaAssSuppl('B')"
												name="assSupplContoProprioBenzina" class="EDIT"
												value="$$assSupplContoProprioBenzina">
												$$err_assSupplContoProprioBenzina</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Conto Terzi</strong></td>
											<td><input maxlength="7" type="text" size="10"
												onChange="javascript:sommaAssSuppl('G')"
												name="assSupplContoTerziGasolio" class="EDIT"
												value="$$assSupplContoTerziGasolio">
												$$err_assSupplContoTerziGasolio</td>
											<td colspan="2"><input maxlength="7" type="text"
												size="10" onChange="javascript:sommaAssSuppl('B')"
												name="assSupplContoTerziBenzina" class="EDIT"
												value="$$assSupplContoTerziBenzina">
												$$err_assSupplContoTerziBenzina</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Riscaldamento Serre</strong></td>
											<td><input maxlength="7" type="text" size="10"
												onChange="javascript:sommaAssSuppl('G')"
												name="assSupplRiscSerraGasolio" class="EDIT"
												value="$$assSupplRiscSerraGasolio">
												$$err_assSupplRiscSerraGasolio</td>
											<td colspan="2"><input maxlength="7" type="text"
												size="10" onChange="javascript:sommaAssSuppl('B')"
												name="assSupplRiscSerraBenzina" class="EDIT"
												value="$$assSupplRiscSerraBenzina">
												$$err_assSupplRiscSerraBenzina</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Totale</strong></td>
											<td>
												<div id="totAssSupplGasolio">$$totAssSupplGasolio</div>
											</td>
											<td colspan="2">
												<div id="totAssSupplBenzina">$$totAssSupplBenzina</div>
											</td>
										</tr>
										<tr>
											<td><h3>Motivazione Supplemento :</h3></td>
											<td></td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td class="text-right"><strong>Tipo Supplemento</strong></td>
											<td colspan="3">$$cmb_tipiSupplemento
												$$err_tipiSupplemento</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Motivazione</td>
											<td colspan="3"><textarea name="motivazioneSupplemento"
													cols="40" rows="4">$$motivazioneSupplemento</textarea>
												$$err_motivazioneSupplemento</td>
										</tr>
									</table> 
                                    <div class="bottone">
													<input type="submit" name="conferma.x" value="avanti">
												</div>
											
								</td>
							</tr>
						</table><!-- fine della tabella a due colonne -->
		</div>
	</form>
     <footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>

