<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script src="/staticresources/js/checktext.js"></script>
  <script language="JavaScript">
<!--
function pop(str) {
  searchWin = window.open(str,'dettaglio','scrollbars=yes,resizable=yes,width=800,height=600,status=no,location=no,toolbar=no');
}

function conferma(){
  var radio=document.form1.radiobutton;
  msgFoglioRigaStr="";
  if (!radio)
  {
    alert("Selezionare un foglio riga!");
    return false;
  }
  //Se non esiste la lunghezza della Radio -> l'elemento è singolo
  if (!radio.length)
  {
    if (radio.checked)
    {
       msgFoglioRigaStr="Attenzione: sta per essere creato un nuovo Foglio.\nVuoi continuare?";
    }
  }
  else
  {
    for(i=0;i<radio.length;i++)
    {
      if (radio[i].checked)
      {
        //Caso in cui il numero Foglio viene creato nuovo per l'utente
        if (i==0){
          msgFoglioRigaStr="Attenzione: sta per essere creato un nuovo Foglio.\nVuoi continuare?";
        }else{
          keyNumFoglio = "numFoglio"+i;
          numFoglio = document.getElementById(keyNumFoglio).innerHTML;
          keyDenominazione = "denominazione"+i;
          denominazione = document.getElementById(keyDenominazione).innerHTML;
          msgFoglioRigaStr="Attenzione: è stato scelto il foglio N."+ numFoglio +" appartenente a "+ denominazione +"; se confermate verrà assegnato il prossimo numero riga disponibile sul foglio selezionato .\nVuoi continuare?";
        }
      }
    }
  }
  if (msgFoglioRigaStr!=""){
    form1.msgFoglioRiga.value=msgFoglioRigaStr;
    return true;
  }else{
    alert("Nessun foglio riga selezionato!");
    return false;
  }
}
//-->
</script>
  $$messaggistica</head>
    <body onLoad="$$err_error">
    <form name="form1" method="post" action="../layout/verificaAssegnazioneAccontoFoglio.htm">
    <input type="hidden" name="msgFoglioRiga" value="">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
 <div id="corpo"><div id="navi"> <a href="../../layout/index.htm">utenti
            motori agricoli </a>&nbsp;&gt; assegnazione
            carburante &gt; verifica assegnazione $$annoDiRiferimento</div>
        <!-- tabella a due colonne per il contenuto -->
        <table id="contenuto">
       <tr>
             <td class="elenco">
              <!-- cella che contiene i menu -->
              
              <div class="menu">
<!-- @@blkRICERCA_DITTA -->
                <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
<!-- @@blkRICERCA_DITTA -->
<!-- @@blkAZIENDE_TITOLARE -->
                <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
<!-- @@blkAZIENDE_TITOLARE -->
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
                <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca macchina</a>
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
<!-- @@blkNUOVA_DITTA -->
                <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
<!-- @@blkNUOVA_DITTA -->
<!-- @@blkSTAMPA_ELENCHI -->
                <a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
<!-- @@blkSTAMPA_ELENCHI -->
<!-- @@blkMenuDatiSistema -->
                   <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
<!-- @@blkMenuDatiSistema -->
</div>
 <!--						 @@blkMenuDittaUMA -->
<div class="menu">
<span class="etichettamenu"><a href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span>
</div>
 <!--						 @@blkMenuDittaUMA -->
<!-- @@blkMenuAssegnazione -->
<div class="menu"><span class="etichettamenu"> <a href="../../domass/layout/assegnazioni.htm">Assegnazione carburante</a></span>
<!--@@blkASSEGNAZIONE_BASE -->
<span class="inattivo">verifica assegnazione  anno $$annoDiRiferimento </span>
<!--@@blkASSEGNAZIONE_BASE -->
</div>
 <!--						 @@blkMenuAssegnazione -->
<!-- @@blkMenuBuoni -->
              <div class="menu"> <span class="etichettamenu"><a href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di prelievo</a></span></div>
<!-- @@blkMenuBuoni -->
<!-- @@blkMenuMacchine -->
              <div class="menu"> <span class="etichettamenu"><a href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span></div>
<!-- @@blkMenuMacchine -->
              </td>
            <td>
              <!-- cella di destra, contiene i "tabelloni"-->
              <p class="datiazienda">azienda selezionata </p>
              <p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
              <p class="datiaziendaB">Ditta N. $$umaNumAzienda /$$umaTipoDitta</p>
              <p class="datiazienda"> provincia di competenza $$umaProvinciaDitta</p>

                <input type="hidden" name="idDomAss" value="$$idDomAss">
                <input type="hidden" name="idAssCarb" value="$$idAssCarb">
            
              <p>Scelta del foglio per assegnazione del numero
                riga (Modello 39).</p>
              <div class="alert-warning">L'utente non ha alcun foglio assegnato; scegliere se si vuole iniziare
              un nuovo foglio oppure selezionare un foglio appartenente ad un
              altro utente.</div>
              <br>
              <table class="dataCol">
                  <tr>
                  <td class="radio"> <input type="radio" name="radiobutton" value="-1"> </td>
                  <td colspan="3">ASSEGNA UN NUOVO NUMERO DI  FOGLIO</td>
                </tr>
                @@blk_FoglioRigaIntestazione
                <tr>
                  <td >&nbsp;</td>
                  <th>Utente</th>
                  <th colspan="2"> Foglio / Riga assegnato</th>
                </tr>
    @@blk_FoglioRigaIntestazione
                @@blk_FoglioRiga
                <tr>
                  <td class="radio"> <input type="radio" name="radiobutton" value="$$idNumerazioneFoglio">
                  </td>
                  <td id="$$denominazione" >$$Denominazione </td>
                  <td id="$$numFoglio" >$$Foglio</td>
                  <td>$$Riga</td>
                </tr>
                @@blk_FoglioRiga
              </table>
                <div class="bottone">
                      <input type="submit" name="confermaFoglioRiga" value="avanti" onClick="return conferma()" >
                    </div>
               
            </td>
          </tr>
        </table>
        <!-- fine della tabella a due colonne -->
    </div>
  </form>
   <footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>

