<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script language="javascript1.2" src="/staticresources/js/checktext.js"></script>
<script language="JavaScript" >
    function pop(page,w,h,target)  {
          var winl = (screen.width - w) / 2;
          var wint = (screen.height - h) / 2;
          winprops =    'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars=yes,resizable=yes';
          win = window.open(page, target, winprops);
          if (parseInt(navigator.appVersion) >= 4) {
            win.window.focus();
          }
    }

    function mod25S() {
      var d = new Date();
      var unique = (d.getUTCHours()*60+d.getUTCMinutes())*60+d.getUTCSeconds();
      var target = "mod25S"+unique;
      pop("",645,500,target);
      document.mod25S.target = target;
      document.mod25S.submit();
    }

   </script>
$$messaggistica</head>
<body onLoad="$$err_error">
<form name="form1" method="post" action="../layout/verificaAssegnazioneSupplementareValidata.htm">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
  <div id="titoloEmenu">
    <h2> UMA - Utenti motori agricoli </h2>
    <p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
  </div>
  <div id="corpo">
    <div id="navi"> <a href="../../layout/index.htm">utenti motori agricoli </a>&nbsp;&gt; assegnazione
      carburante &gt; assegnazione supplementare $$anno</div>
    <!-- tabella a due colonne per il contenuto -->
    <table id="contenuto">
      <tr>
        <td class="elenco"><!-- cella che contiene i menu -->
          <div class="menu">
            <!-- @@blkRICERCA_DITTA -->
            <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
            <!-- @@blkRICERCA_DITTA -->
            <!-- @@blkAZIENDE_TITOLARE -->
            <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
            <!-- @@blkAZIENDE_TITOLARE -->
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca macchina</a>
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <!-- @@blkNUOVA_DITTA -->
            <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
            <!-- @@blkNUOVA_DITTA -->
            <!-- @@blkSTAMPA_ELENCHI -->
            <a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
            <!-- @@blkSTAMPA_ELENCHI -->
            <!-- @@blkMenuDatiSistema -->
            <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
            <!-- @@blkMenuDatiSistema -->
          </div>
          <!--						 @@blkMenuDittaUMA -->
          <div class="menu"> <span class="etichettamenu"><a href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span> </div>
          <!--						 @@blkMenuDittaUMA -->
          <!-- @@blkMenuAssegnazione -->
          <div class="menu"><span class="etichettamenu"><a href="../layout/assegnazioni.htm">Assegnazione carburante</a></span>
            
            <!--@@blkASSEGNAZIONE_SUPPLEMENTO -->
            <span class="inattivo">assegnazione supplementare $$annoDiRiferimento</span> <br>
            <a href="javascript: doForm('annullaDom.x');"> annulla</a>
            <!--@@blkASSEGNAZIONE_SUPPLEMENTO -->
            
            <!--@@blkASSEGNAZIONE_SUPPLEMENTOMAGGIORAZIONE -->
	  			<span class="inattivo">$$titoloMaggiorazione</span>
	  			<a href="javascript: doForm('annullaDom.x');"> annulla</a>
			<!--@@blkASSEGNAZIONE_SUPPLEMENTOMAGGIORAZIONE -->
										  
            <!--@@blkSTAMPA_25 -->
            <!-- <a href="javascript:mod25S();">stampa Modello 25_S</a>-->
            <!--@@blkSTAMPA_25 -->
          </div>
          <!--						 @@blkMenuAssegnazione -->
          <!-- @@blkMenuBuoni -->
          <div class="menu"> <span class="etichettamenu"><a href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di prelievo</a></span></div>
          <!-- @@blkMenuBuoni -->
          <!-- @@blkMenuMacchine -->
          <div class="menu"> <span class="etichettamenu"><a href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span></div>
          <!-- @@blkMenuMacchine -->
        </td>
        <td><!-- cella di destra, contiene i "tabelloni"-->
          <p class="datiazienda">azienda selezionata </p>
          <p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
          <p class="datiaziendaB">Ditta N. $$umaNumAzienda
            /$$umaTipoDitta</p>
          <p class="datiazienda"> provincia di competenza $$umaProvinciaDitta</p>
          <br>
          <input type="hidden" name="annullaBuoni" value="OK">
          <input type="hidden" name="numeroFoglio" value="$$numeroFoglio">
          <input type="hidden" name="numeroRiga" value="$$numeroRiga">
          <input type="hidden" name="idAssCarb" value="$$idAssCarb">
          <input type="hidden" name="pagePrev" value="$$pagePrev">
          <!--Parametri per emissioneBuono.htm-->
          <input type="hidden" name="dittaUma" value="$$idDittaUma">
          <input type="hidden" name="idDomAss" value="##idDomAss">
          <input type="hidden" name="select" value="##idDomAss">
          <input type="hidden" name="anno" value="$$anno">
          <input type="hidden" name="messFoglioCompletato" value="$$messFoglioCompletato">
          <input type="hidden" name="pageFrom" value="../layout/verificaAssegnazioneSupplementareValidata.htm">
          <!--Parametri per emissioneBuono.htm-->
   <!--	 @@blkMenuBuoni -->
          <div class="alert-success">
            <p>$$messBuonoEmesso</p>
          </div>
          <!--@@blkMenuBuoni -->
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Data validazione:</th>
              <td> $$dataValidazione </td>
            </tr>
          </table>
          <br>
          @@blk_foglioRigaAss <br>
          <br>
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Numero foglio e riga assegnati:</th>
              <td><strong>$$numeroFoglio / $$numeroRiga &nbsp;&nbsp;&nbsp;
                  $$messFoglioCompletato </strong></td>
            </tr>
          </table>
          <br>
          @@blk_foglioRigaAss <br>
          <br>
        
        </td>
      </tr>
    </table>
    <!-- fine della tabella a due colonne -->
  </div>
  <div id="hiddenElement">
    <!-- necessario per l'invio dei dati -->
  </div>
</form>
<form name="mod25S" method="post" action="/solmruma/servlet/StampaServletMod25S" target="mod25S">
  <input type="hidden" name="idAssCarb" value="$$idAssCarb">
</form>
<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <hr />
    <a name="footer"></a>
    <div class="custom footerCsi row-fluid">
      <div class="span3 col-sm-3"> <a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
      <div class="span9 col-sm-9"> Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
    </div>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
