<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
    <script src="/staticresources/js/checktext.js"></script>
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'dettaglio','scrollbars=yes,resizable=yes,width=800,height=600,status=no,location=no,toolbar=no');
}

function stampaReportTrattoriNuoviInCarico() {
  var d = new Date();
  var unique = (d.getUTCHours()*60+d.getUTCMinutes())*60+d.getUTCSeconds();
  var target = "modReportTrattoriNuoviInCarico"+unique;

  document.modReportTrattoriNuoviInCarico.idProvinciaUma.value = document.modelloReportTrattoriNuoviInCarico.provUMA.value;
  popMod("",645,500,target);
  document.modReportTrattoriNuoviInCarico.target = target;
  document.modReportTrattoriNuoviInCarico.submit();
}

function popMod(page,w,h,target) {
  var winl = (screen.width - w) / 2;
  var wint = (screen.height - h) / 2;
  winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars=yes,resizable=yes';
  win = window.open(page, target, winprops);
  if (parseInt(navigator.appVersion) >= 4) {
    win.window.focus();
  }
}

function annullaStampa() {
  frmAnnulla.submit();
}

//-->
</script>

$$messaggistica</head>
    <body onLoad="$$err_error">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
 <div id="corpo">
          <div id="navi"> <a href=#>utenti motori agricoli </a> &gt; stampa elenchi </a> &gt; report
            mensile trattrici nuove in carico </div>
          <table id="contenuto">
       <tr>
             <td class="elenco">
              <!-- cella che contiene i menu -->
              
              <div class="menu">
<!-- @@blkRICERCA_DITTA -->
                <a href="../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
<!-- @@blkRICERCA_DITTA -->
<!-- @@blkAZIENDE_TITOLARE -->
                <a href="../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
<!-- @@blkAZIENDE_TITOLARE -->
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
                <a href="../macchina/layout/ricercaMacchina.htm">Ricerca Macchina</a>
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
<!-- @@blkNUOVA_DITTA -->
                <a href="../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
<!-- @@blkNUOVA_DITTA -->
<!-- @@blkSTAMPA_ELENCHI -->
                <a href="../layout/stampaElenchi.htm">Stampa elenchi</a>
<!-- @@blkSTAMPA_ELENCHI -->
<!-- @@blkMenuDatiSistema -->
                <a href="../layout/dati_sistema.htm">Dati di sistema</a>
              </div>
               <!--						 @@blkMenuDatiSistema -->
            </td>
            <td>
              <!-- cella di destra, contiene i "tabelloni"-->
				<h3>Indicare i parametri di stampa desiderati e premere conferma:</h3>
 <form name="modelloReportTrattoriNuoviInCarico" method="post" action="modelloTrattoriNuoviInCarico.htm">
                <table class="data">
                    <col width="25%" /> 
                    <col width="75%" /> 
                   <tr>
                   <th>Provincia *</th>
                   <td>
                      <select name="provUMA">
                        <option></option>
                        <!--@@comboProvUMA-->
                        <option value="$$idProvUMA" $$idProvUMASelPunt>$$provUMA</option>
                        <!--@@comboProvUMA-->
                      </select>
                      $$err_provUMA
                   </td>
                   </tr>
                   <tr>
                   <th>Anno *</th>
                   <td><input type="text" maxlength="4" size="4" name="anno" class="EDIT" value="$$anno"> $$err_anno
                     aaaa                    </td>
                  </tr>
                    <tr>
                    <th>Mese* </th>
                    <td>
                      <select name="mese">
                        <!--@@blkMese-->
                        <option value="$$valueMese" $$selected>$$nomeMese</option>
                        <!--@@blkMese-->
                      </select>
                      $$err_Mese
                    </td>
                    </tr>
                 </table>
                    <p>I campi contrassegnati con asterisco sono obbligatori.</p>
	<div class="bottone">
                   <div class="left">
                      <input type="submit" name="conferma" value="conferma">
                    </div>
                    <div class="right">
                      <input onClick="annullaStampa()" type="button" name="annulla" value="annulla">
                    </div>
                  </div>
        </form>
	    </td>
          </tr>
        </table>
       

    </div>
  <form name="modReportTrattoriNuoviInCarico" method="post" action="/solmruma/servlet/StampaServletModTrattoriNuoviInCarico" target="ModelloReportTrattoriNuoviInCarico">
    <input type="hidden" name="idProvinciaUma" value="$$idProvUMA">
    <input type="hidden" name="annoI" value="$$anno">
    <input type="hidden" name="meseI" value="$$mese">
  </form>
  <form name="frmAnnulla" method="post" action="$$paginaAnnulla">
  </form>
  <script language="javascript1.2">
  $$scriptReportTrattoriInCarico
  </script>
  	<footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>