<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description"
	content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css"
	media="screen" id="skin" />
<script src="/staticresources/js/checktext.js"></script>
<script language="JavaScript">
	function go(operazione) {
		document.form1.funzione.value = operazione;
		document.form1.submit();
		return;
	}
</script>
</head>
<body onload="">
	<!-- $$err_error -->
	<form name="form1" method="post" action="sceltaRuoloPEP.jsp">
		<input type="hidden" name="funzione" value="">			
			<div id="titoloEmenu">
				<h2>UMA - Utenti motori agricoli</h2>
			</div>

			<div id="corpo">

				<h3>Selezionare il ruolo e premere conferma:</h3>
				<br />
				<table class="data">
					<!-- @@blkRuolo -->
					<tr>
						<td><input type="radio" name="ruolo" value="$$ruolo"
							$$checked>$$descRuolo</td>
					</tr>
					<!-- @@blkRuolo -->
				</table>
				$$err_sceltaRuolo
				<div class="bottone">
					<input type="button" name="button" onClick="go('conferma')"
						value="conferma">
				</div>
				
				<!-- @@blkErrore -->
        <p class="errore">
          $$messaggioErrore
        </p>
        <!-- @@blkErrore -->


			</div>
	</form>

	<footer class="footer" role="contentinfo">
	<div class="container-fluid">
		<hr />
		<a name="footer"></a>
		<div class="custom footerCsi row-fluid">
			<div class="span3 col-sm-3">
				<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a>
			</div>
			<div class="span9 col-sm-9">
				Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766
			</div>
		</div>
	</div>
	</footer>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-7226140-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

</body>
</html>