<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
  <script language="JavaScript1.2" >
</script>
    
    <script src="/staticresources/js/checktext.js"></script>
  $$messaggistica</head>
  <body>
  <form name="form1" action="../layout/confermaEliminaLavContoTerzi.htm" method="post">
  	<input type="hidden" name="idLavContoTerzi" value="$$idLavContoTerzi">
  	<input type="hidden" name="ricarica.x" value="ricarica.x">
	<input type="hidden" name="pageFrom" value="$$pageFrom">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
     <div id="titoloEmenu">
		<h3>Conferma elimina lavorazioni conto terzi</h3>
    </div>
         </div>

<div id="corpo"> 
          
                      <div class="alert-warning">Sei sicuro di voler eliminare le lavorazioni conto terzi selezionate?</div>
               
                    <div class="bottone">
                      <div class="left">
                        <input type="submit" name="conferma.x" value="conferma">
                        </div>
                    
                     <div class="right">
                          <input type="submit" name="annulla.x" value="annulla">
                      </div>
					  
                    </div>
            
    </div>
        </form>
          </body>
          </html>


