<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script src="/staticresources/js/checktext.js"></script>
</head>
<body>
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
  <h3> Dettaglio lavorazioni Conto Terzi per Conto Proprio </h3>
</div>
<div id="corpo">
  <!-- tabella a due colonne per il contenuto -->
  <br>
  <table class="data">
    <tr>
      <th>Anno campagna</th>
      <td>$$annoCampagna</td>
    </tr>
    <tr>
      <th>CUAA Contoterzista</th>
      <td>$$cuaaCT</td>
    </tr>
    <tr>
      <th>Denominazione Contoterzista</th>
      <td>$$denominazioneCT</td>
    </tr>
    <tr>
      <th>Sede legale</th>
      <td>$$sede</td>
    </tr>
    <tr>
      <th>Indirizzo sede legale</th>
      <td>$$indirizzo</td>
    </tr>
    <tr>
      <th>Uso del suolo</th>
      <td>$$usoDelSuolo</td>
    </tr>
    <tr>
      <th>Lavorazione</th>
      <td>$$lavorazione </td>
    </tr>
    <tr>
      <th>U.d.M.</th>
      <td>$$unitaDiMisura </td>
    </tr>
    <tr>
      <th>Sup.(ha) / Ore / Peso (t) / Pot.(kw) Fattura</th>
      <td> $$supOre </td>
    </tr>
    <tr>
      <th>Numero esecuzioni</th>
      <td>$$numEsecuzioni</td>
    </tr>
    <tr>
      <th>Consumo dichiarato(lt)</th>
      <td>$$consumo</td>
    </tr>
    <tr>
      <th>N. Fatture</th>
      <td>$$numeroFatture</td>
    </tr>
    <tr>
      <th>Lavorazione in eccedenza</th>
      <td>$$eccedenza</td>
    </tr>
    <tr>
      <th>Data inserimento</th>
      <td>$$data</td>
    </tr>
    <tr>
      <th>Ultima modifica</th>
      <td>$$modifica</td>
    </tr>
  </table>
  <div class="bottone">
    <input name="submit" type="submit" value="chiudi" onclick="window.close()">
  </div>
  <!--						 fine della tabella a due colonne -->
  <br>
</div>

</body>
</html>
