<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script src="/staticresources/js/checktext.js"></script>
  </head>
  <body>
  <div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h3>
						Dettaglio lavorazioni da Conto Terzi
					</h3>
				</div>
 
 
 <div id="corpo"> 
        <!-- tabella a due colonne per il contenuto -->
   
        <br>
        <table class="data">
          <tr>
            <th>CUAA azienda CT</th>
            <td> $$cuaa</td>
          </tr>		  
          <tr>
            <th>Partita IVA</th>
            <td> $$partitaIva</td>
          </tr>
          <tr>
            <th> Denominazione </th>
            <td> $$denominazione</td>
          </tr>
          <tr>
            <th> Sede legale</th>
            <td> $$sedeLegale</td>
          </tr>
          <tr>
            <th>Indirizzo sede legale </th>
            <td> $$indirizzoSedeLeg</td>
          </tr>
          <tr>
            <th>Uso del suolo</th>
            <td>$$usoDelSuolo</td>
          </tr>
          <tr>
            <th>Lavorazione</th>
            <td> $$lavorazione </td>
          </tr>
		  <tr>
            <th>Esecuzioni</th>
            <td> $$esecuzioni </td>
          </tr>
          <tr>
            <th>Unita' di misura</th>
            <td> $$unitaDiMisura </td>
          </tr>
          <tr>
            <th>Sup. (ha) / Ore / Peso (t) / Pot. (kw)</th>
            <td> $$supOre </td>
          </tr>
          <tr>
            <th>Consumo ammissibile (lt)</th>
            <td> $$gasolio </td>
          </tr>
          <tr>
            <th>Consumo dichiarato (lt)</th>
            <td> $$benzina </td>
          </tr>
		  <tr>
            <th>Note</th>
            <td> $$note </td>
          </tr>			  
          <tr>
            <th>Data inserimento </th>
            <td> $$dataInizioValidita</td>
          </tr>
          <tr>
            <th>Data cessazione </th>
            <td> $$dataCessazione</td>
          </tr>		  
          <tr>
            <th>Ultima modifica</th>
            <td>$$dataAggiornamentoStr ($$denominazioneAggiornamento - $$descrizioneEnteAppartenenza)</td>
          </tr>
        </table>

            <div class="bottone"> 
			<input name="submit" type="submit" value="chiudi" onclick="window.close()">
            </div>
        

      
        </div>

  </body>
</html>

