<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script src="/staticresources/js/checktext.js"></script>
</head>
<body>
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
  <h3> Dettaglio serre </h3>
</div>
<div id="corpo"> <br>
  <table class="data">
    <th>Tipo e Forma</th>
      <td>$$descrizioneTipoFormaSerra</td>
    </tr>
    <tr>
      <th>Coltura </th>
      <td> $$descrizioneTipoColtura</td>
    </tr>
    <tr>
      <th> Data carico </th>
      <td> $$dataCaricoStr</td>
    </tr>
    <tr>
      <th> Data scarico</th>
      <td> $$dataScaricoStr</td>
    </tr>
    <tr>
      <th>Data inizio validit&agrave; </th>
      <td> $$dataInizioValiditaStr</td>
    </tr>
    <tr>
      <th>Data fine validit&agrave;</th>
      <td>$$dataFineValiditaStr</td>
    </tr>
    <tr>
      <th>Lunghezza (in metri)</th>
      <td> $$lunghezza </td>
    </tr>
    <tr>
      <th>Larghezza (in metri)</th>
      <td> $$larghezza </td>
    </tr>
    <tr>
      <th>Altezza (in metri)</th>
      <td> $$altezza </td>
    </tr>
    <tr>
      <th>Volume (in metri cubi)</th>
      <td> $$volumeMetriCubi </td>
    </tr>
    <tr>
      <th>Mesi di riscaldamento</th>
      <td> $$mesiDiRiscaldamento </td>
    </tr>
    <tr>
      <th>Giorni di riscaldamento annuali</th>
      <td> $$giorniRiscaldamentoAnnulali </td>
    </tr>
    <tr>
      <th>Note </th>
      <td> $$note</td>
    </tr>
    <tr>
      <th>Ultima modifica</th>
      <td>$$dataAggiornamentoStr ($$denominazione - $$descrizioneEnteAppartenenza)</td>
    </tr>
  </table>
  <div class="bottone">
    <input name="submit" type="submit" value="chiudi" onclick="window.close()">
  </div>
</div>
</body>
</html>
