<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script src="/staticresources/js/checktext.js"></script>
  </head>
  <body>
			
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
			<div id="titoloEmenu">
					<h3>
						Dettaglio allevamenti
					</h3>
					
				</div>
 
 <div id="corpo"> 
      <br />

    
			  <table class="data">
        <col width="25%" />
        <col width="75%" />
                  <tr>
                    <th>Specie Animale</th>
                    <td> $$specie</td>
                  </tr>
                  <tr>
                    <th>Categoria Animale </th>
                    <td>$$categoria</td>
                  </tr>
                  <tr>
                    <th>Data carico</th>
                    <td>$$dataCarico</td>
                  </tr>
                  <tr>
                    <th>Data scarico</th>
                    <td>$$dataScarico</td>
                  </tr>
                  <tr>
                    <th>Data inizio validit&agrave;</th>
                    <td>$$dataInizioValidita</td>
                  </tr>
                  <tr>
                    <th>Data fine validit&agrave;</th>
                    <td>$$dataFineValidita</td>
                  </tr>
                  <tr>
                    <th>Quantit&agrave;</th>
                    <td>$$quantita $$unitaDiMisura </td>
                  </tr>
                  <tr>
                    <th>Soccida</th>
                    <td>$$soccida</td>
                  </tr>
                  <tr>
                    <th>Lavorazioni praticate</th>
                    <td>$$lavorazioniPraticate</td>
                  </tr>
                  <tr>
                    <th>Note</th>
                    <td>$$note</td>
                  </tr>
                  <tr>
                    <th>Ultima modifica</th>
                    <td>$$dataAggiornamento ($$nomeUtente, $$nomeEnte)</td>
                  </tr>
                </table>
                <!-- @@blkConsistenza -->
               <div class="alert-success"> <p>Dati validati in Anagrafe il $$dataConsistenza </p></div>
                <!-- @@blkConsistenza -->
               
			   
                    <div class="bottone">
					<input type="submit" value="chiudi" onClick="window.close()">
                    </div>
                  
			
    
  <table class="data" dwcopytype="CopyTableCell">

    <!-- @@tipiAttivitaATECO -->
    <!-- @@tipiAttivitaATECO -->
</table>
</div>


  </body>
</html>

