<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />


<script language="javascript1.2" src="/staticresources/js/checktext.js">
</script>
<script language="javascript1.2">
	function selezionaTutto(checked)
  {
    var checkbox=document.form1.checkbox;
    if (checkbox==null)
    {
      return;
    }
    if (checkbox.length)
    {
      for(i=0;i<checkbox.length;++i)
      {
        checkbox[i].checked=checked;
      }
    }
    else
    {
      checkbox.checked=checked;
    }
  }

  function ricarica()
  {
      if (document.form1.storico.checked)
      {
         doForm('storico.x');
      }
      else
      {
    	doForm('ricarica.x');
      }
  }  
  function importa()
  {
    doForm('importa.x');
  }  
  function inserisci()
  {
    doForm('inserisci.x');
  }

  function modifica()
  {
    var check=document.form1.checkbox;
    if (!check)
    {
      alert("Nessun'azienda selezionata!");
      return;
    }
    if (!check.length)
    {
      if (check.checked)
      {
        doForm('modifica.x');
        return;
//        return true;
      }
    }
    else
    {
      for(i=0;i<check.length;i++)
      {
        if (check[i].checked)
        {
          doForm('modifica.x');
          return;
//        return true;
        }
      }
    }
    alert("Selezionare una lavorazione!");
//    return false;
  }
  function elimina()
  {
    var radio=document.form1.checkbox;
    if (!radio)
    {
      alert("Nessun'azienda selezionata!");
      return;
    }
    var currentSelection=document.form1.currentSel.value;
    if (!radio.length)
    {
      if (radio.checked)
      {
        currentSelection=radio.value;
        doForm("elimina.x");
        return;
      }
    }
    else
    {
      for(i=0;i<radio.length;i++)
      {
        if (radio[i].checked)
        {
          currentSelection=radio[i].value;
          doForm("elimina.x");
          return;
        }
      }
    }
    alert("Selezionare una lavorazione!");
  }

  function dettaglio()
  {
    var check=document.form1.checkbox;
    var idLavConsorzi;
    var count=0;
    if (!check)
    {
      alert("Nessun'azienda selezionata!");
      return;
    }
    if (check.length)
    {
      count=0;
      for(i=0;i<check.length;i++)
      {
        if (check[i].checked&&count==0)
        {
          idLavConsorzi=check[i].value;
          count++;
        }
        else 
         if(check[i].checked&&count>0) {
          alert("Selezionare una sola lavorazione!");
          return;
         }
      }
    }
    else
    {
      if (check.checked)
      {
        idLavConsorzi=check.value;
      }
    }
    if (!idLavConsorzi)
    {
      alert("Selezionare una lavorazione!");
    }
    else
    {
      pop('../layout/dettaglioLavConsorziPOP.htm?idLavConsorzi='+idLavConsorzi,640,480,'dettaglioLavConsorziPOPView');
    }
  }
  
  function checkForXls() {
		if (!document.form1.checkbox) {
			alert("Non ci sono lavorazioni da esportare");
			return false;
		}
		return true;
	}
  
</script>
$$messaggistica</head>
  <body onLoad="$$err_error">

	<form method="post" name="form1" action="elencoLavConsorzi.htm">
		<input type="hidden" name="currentSel" value="">

<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
			
			
					     <div id="corpo"> 
						<div id="navi">
							<a href="../../layout/index.htm">utenti motori agricoli</a> &gt;
							ditta UMA &gt; Lavorazioni consorzi e cooperative
						</div> <!-- tabella a due colonne per il contenuto -->
						<table id="contenuto">
       <tr>
             <td class="elenco">
									<!-- cella che contiene i menu -->
									
									<div class="menu">
										<!-- @@blkRICERCA_DITTA -->
										<a href="../../anag/layout/ricercaAzienda.htm">Ricerca
											ditta UMA</a>
										<!-- @@blkRICERCA_DITTA -->
										<!-- @@blkAZIENDE_TITOLARE -->
										<a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco
											ditte</a>
										<!-- @@blkAZIENDE_TITOLARE -->
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<a href="../../macchina/layout/ricercaMacchina.htm">Ricerca
											macchina</a>
										<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
										<!-- @@blkNUOVA_DITTA -->
										<a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova
											ditta UMA</a>
										<!-- @@blkNUOVA_DITTA -->
										<!-- @@blkSTAMPA_ELENCHI -->
										<a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
										<!-- @@blkSTAMPA_ELENCHI -->
										<!-- @@blkMenuDatiSistema -->
										<a href="../../layout/dati_sistema.htm">Dati di sistema</a>
										<!-- @@blkMenuDatiSistema -->
									</div> 
									 <!--						 @@blkMenuDittaUMA -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span>
										<div class="sottomenu">
											<span class="voceAttiva">Lavorazioni consorzi e cooperative</span> 
											<!--	@@blkVISUALIZZA_CONSORZI-->
											<a href="javascript:dettaglio();">dettaglio</a>
											<a	href="../xls/lavorazioni_consorzi.xls"	onclick="return checkForXls()">esporta dati</a>
											<!-- @@blkVISUALIZZA_CONSORZI-->
											<!-- @@blkAGGIORNA_CONSORZI -->
											<a href="javascript:modifica()">modifica</a> <a
												href="javascript:elimina()">elimina</a> <a
												href="javascript:inserisci()" id="inserisci">inserisci</a>
											<!-- @@blkAGGIORNA_CONSORZI -->
										</div>
									</div>  <!--						 @@blkMenuDittaUMA --> 
									<!-- @@blkMenuAssegnazione -->
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../domass/layout/assegnazioni.htm">Assegnazione
												carburante</a></span>
									</div> 
									<!-- @@blkMenuAssegnazione --> 
									<!-- @@blkMenuBuoni --> 
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di
												prelievo</a></span>
									</div> 
									<!-- @@blkMenuBuoni --> 
									<!-- @@blkMenuMacchine --> 
									<div class="menu">
										<span class="etichettamenu"><a
											href="../../macchina/layout/elencoMacchine.htm">Macchine</a></span>
									</div> 
									<!-- @@blkMenuMacchine -->
								</td>
								<td>
									<!-- cella di destra, contiene i "tabelloni"-->
									<p class="datiazienda">azienda selezionata</p>
									<p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
									<p class="datiaziendaB">Ditta N. $$umaNumAzienda
										/$$umaTipoDitta</p>
									<p class="datiazienda">provincia di competenza
										$$umaProvinciaDitta</p> <br>
									<table class="data">		
										<tr>
											<th>Anno di riferimento:</th>
											<td colspan="3"><select
												name="annoRiferimento" onChange="javascript:ricarica()"
												$$disabled> @@blkComboAnno
													<option value="$$idAnnoRiferimento" $$annoRiferimentoSel>$$annoRiferimentoDesc</option>
													@@blkComboAnno
											</select></td>
										</tr>
									
										<tr>
											<th>CUAA</th>
											<td><input type="text" name="cuaa" id="cuaa" value="$$cuaaSel"
												class="med" /></td>
											<th>Partita IVA</th>
											<td><input type="text" name="iva" id="iva" value="$$partitaIvaSel"
												class="med" /></td>
										</tr>
										<tr>
											<th>Denominazione</th>
											<td><input type="text" name="Denominazione"
												id="Denominazione" value="$$denominazioneSel" class="long" /></td>
											<td colspan="2"><input type="checkbox" name="storico"
												value="storico" /><strong> Visualizza variazioni storiche</strong></td>
										</tr>
									</table>
									<div class="bottone"> <a href="javascript: ricarica()" class="pulsante"> aggiorna </a></div>
									
									<div class="paginazione">
										@@prev<a href="javascript: goToLine($$prevPage)" class="pulsante">&lt;&lt;</a>@@prev
										pag.$$currentPage di $$maxPage @@next<a
											href="javascript: goToLine($$nextPage)" class="pulsante">&gt;&gt;</a>@@next
									</div> 
                                    <br> <br>
                                     @@blkNoLavorazioni
									<div class="alert-danger">Nessuna lavorazione indicata</div>
                                     @@blkNoLavorazioni

									@@blkSiLavorazioni

									<div class="alert-info">L'azienda per la campagna $$campagna $$verso le
										seguenti lavorazioni:</div>

									<div class="bottone">
										<a href="javascript:selezionaTutto(true)" class="pulsante">seleziona
											tutto</a>&nbsp; <a href="javascript:selezionaTutto(false)"
											class="pulsante">deseleziona tutto</a>&nbsp;
									</div>
                                     @@blkSiLavorazioni

									<div class="scroll">
										<table class="dataCol">
											@@blkIntestazione
											<tr>
												<td rowspan="2" class="radio">&nbsp;</td>
												<th rowspan="2">Azienda</th>
												<th rowspan="2">Uso del suolo</th>												
												<th rowspan="2">Sup. (ha) / Ore / Peso (t) / Pot.(kw) </th>
												<th rowspan="2">Lavorazione</th>
												<th rowspan="2">G. (lt)</th>
												<th rowspan="2">B. (lt)</th>
											</tr>
											@@blkIntestazione
											<tr>
											</tr>
											@@blkDati @@blkLavorazione
											<tr>
												<td class="radio"><input type="checkbox" name="checkbox"
													value="$$idLavConsorzio" $$checked></td>
												<td>$$cuaa</td>													
												<td>$$usoDelSuolo</td>												
												<td>$$supOre</td>
												<td>$$lavorazione</td>
												<td>$$gasolio</td>
												<td>$$benzina</td>
											</tr>
											@@blkLavorazione
											<tr>
												<td colspan="5" class="text-right">TOTALE:</td>
												<td class="text-right"><strong>$$totaleGasolio</strong></td>
												<td class="text-right"><strong>$$totaleBenzina</strong></td>
											</tr>
											@@blkDati
										</table>
										@@blkSiLavorazioni
										<div class="bottone">
											<a href="javascript:selezionaTutto(true)" class="pulsante">seleziona
												tutto</a>&nbsp; <a href="javascript:selezionaTutto(false)"
												class="pulsante">deseleziona tutto</a>&nbsp;
										</div>
										@@blkSiLavorazioni


									</div>

								</td>
							</tr>

						</table><!-- fine della tabella a due colonne -->
		</div>
		<div id="hiddenElement">
			<!-- necessario per l'invio dei dati -->
		</div>
	</form>
	<form action="elencoLavConsorzi.htm" method="post" name="paginazione">
		<input type="hidden" name="startRow" value="">
	</form>
	<footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>

