<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
    <script src="/staticresources/js/checktext.js"></script>
</head>
  <body onLoad="$$err_error">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
				<div id="titoloEmenu">
					<h3>Vista particellare</h3>
				</div>

				     <div id="corpo"> 
				<br />

								<table class="dataCol">
									@@blkParticelle
									<tr>
										<th rowspan="2" >Comune</th>
										<th rowspan="2" >Sez.</th>
										<th rowspan="2" >Foglio</th>
										<th rowspan="2" >Particella</th>
										<th rowspan="2" >Sub.</th>
										<th rowspan="2" >Sup. Catastale (ha)</th>
										<th rowspan="2" >Titolo Possesso</th>
										<th rowspan="2" >Uso del suolo</th>
										<th rowspan="2" >Colt. second.</th>
										<th rowspan="2" >Sup.Irrigabile</th>
										<th rowspan="2" >Sup.Utilizzata (ha)</th>
										<th colspan="4" >Azienda</th>
									</tr>
									<tr>
									  <th>Cuaa</th>
									  <th>Partita Iva</th>
									  <th>Denominazione</th>
									  <th>Sede Legale</th>
									</tr>
									@@blkParticella
									<tr>
										<td>$$descComuneParticella</td>
										<td>$$sezione</td>
										<td>$$foglio</td>
										<td>$$particella</td>
										<td>$$subalterno</td>
										<td class="text-right">$$supUtilizzata</td>
										<td>$$titoloPossesso</td>
										<td>$$usoPrimario</td>
										<td>$$colturaSecondaria</td>
										<td>$$flagIrrigabile</td>
										<td class="text-right">$$supUtilizzataPrimaria</td>
										<td>$$cuaaSocio</td>
										<td>$$pivaSocio</td>
										<td>$$denomSocio</td>
										<td>$$sedeLegaleSocio</td>
									</tr>
									@@blkParticella 
									@@blkParticelle 
								</table>
                                 @@blkNoParticelle
                                <div class="alert-danger">
												<b>$$msg</b>
											</div>
                                @@blkNoParticelle
                                
                            <!-- @@blkDichiarazioneConsistenza -->
							<div class="alert-success">	<p>Dati validati in Anagrafe il $$dataConsistenza</p> </div>
                            <!-- @@blkDichiarazioneConsistenza -->

					
										<div class="bottone"><input type="submit"
											value="chiudi" onclick="window.close()"></div>
								
				
	</div>


  </body>
</html>

