<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>SOLMR GUMA</display-name>
 <description>Servizi On-Line per il Mondo Rurale - Gestione Ufficio Macchine Agricole</description>
 <distributable/>
 <context-param>
  <param-name>1</param-name>
  <param-value>rupar</param-value>
 </context-param>
 <context-param>
  <param-name>2</param-name>
  <param-value>sispie</param-value>
 </context-param>
 <!--
    ApplName: Nome dell applicazione web sottoposta a tracciamento (il valore 
    di tale parametro corrisponde al contenuto del tag <APPSERVERID> del tracefile di default)
  -->
 <context-param>
  <param-name>ApplName</param-name>
  <param-value>solmruma</param-value>
 </context-param>
 <!--
    DFTemplate:Template timestamp
  -->
 <context-param>
  <param-name>DFTemplate</param-name>
  <param-value>yyyy/MM/dd - HH:mm:ss</param-value>
 </context-param>
 <!--
    Keystore: path del file di configurazione in cui viene conservata la chiave 
    usata per criptare il Codice Fiscale
  -->
 <context-param>
  <param-name>Keystore</param-name>
  <!--param-value></param-value-->
  <param-value/>
 </context-param>
 <!-- ############################################################################################ 
 ############################################################################################ 
 Statrace 20/05/2009 cz                                       
 ############################################################################################ 
 
    LoggerName: nome del logger che deve utilizzare il componente JSTATRACE per il 
    logging del suo funzionamento (da standard deve coincidere con il nome del 
    pacchetto deployato)
  -->
 <context-param>
  <param-name>LoggerName</param-name>
  <param-value>solmruma</param-value>
 </context-param>
 <!--
    Portale: nome del portale sul quale l applicazione viene ospitata (nel caso di 
    applicazioni multiportale, scegliere uno qualunque dei portali ospitanti, 
    sono disponibili API per la modifica del valore a runtime)
  -->
 <context-param>
  <param-name>Portale</param-name>
  <param-value/>
 </context-param>
 <!--
    TraceLoggerName: nome del logger che deve utilizzare il componente JSTATRACE 
    per la generazione delle tracce statistiche (uno diverso per ogni applicazione)
  -->
 <context-param>
  <param-name>TraceLoggerName</param-name>
  <param-value>STTRACE_solmruma</param-value>
 </context-param>
 <context-param>
  <param-name>anagAccess</param-name>
  <param-value>PA</param-value>
 </context-param>
 <context-param>
  <param-name>backPage</param-name>
  <param-value>https://iride.csi.it/cgi-bin/baseauth/auth.cgi?cod_servizio=XSUM</param-value>
 </context-param>
 <context-param>
  <param-name>encoding</param-name>
  <param-value>Cp1252</param-value>
 </context-param>
 <context-param>
  <param-name>homePage</param-name>
  <param-value>index.html</param-value>
 </context-param>
 <context-param>
  <param-name>it.csi.ssobart.filter.loginUrl</param-name>
  <param-value>http://dev-www.ruparpiemonte.it/solmruma/layout/loginRupar.htm</param-value>
 </context-param>
 <!--
    PARAMETRI PER SSOBART
  -->
 <context-param>
  <param-name>it.csi.ssobart.filter.logoutUrl</param-name>
  <param-value>https://dev-wfexp-vip01.csi.it/ssobart/logout</param-value>
 </context-param>
 <context-param>
  <param-name>portaleRupar</param-name>
  <param-value>http://tst-portale.ruparpiemonte.it</param-value>
 </context-param>
 <context-param>
  <param-name>portaleSispie</param-name>
  <param-value>http://tst-www.sistemapiemonte.it</param-value>
 </context-param>
 <context-param>
  <param-name>umaAccess</param-name>
  <param-value>EJB</param-value>
 </context-param>
 <!-- ############################################################################################ -->
 <filter>
  <filter-name>stattrace</filter-name>
  <filter-class>it.csi.jstattrace.StatWebFilter</filter-class>
 </filter>
 <!-- ################################################################## 
 OPAUTH - Rimozione per sostituzione con SHIBBOLEHT                 
 ################################################################## 
filter>
    <filter-name>smrumaopfilter</filter-name>
    <filter-class>it.csi.opauth.filter.OPFilter</filter-class>
    <init-param>
      <param-name>it.csi.opauth.filter.minAuthLevel</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>it.csi.opauth.filter.serverName</param-name>
      <param-value>dev-www.sistemapiemonte.it</param-value>
    </init-param>
    <init-param>
      <param-name>logger</param-name>
      <param-value>solmr.uma</param-value>
    </init-param>
    <init-param>
      <param-name>it.csi.opauth.filter.loginAccessUrl</param-name>
      <param-value>http://spintest.csi.it:7778/portal/pls/portal/csi_custom.ext_login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>smrumaopfilter</filter-name>
    <url-pattern>/view/loginSispie.jsp</url-pattern>
  </filter-mapping
 ################################################################## 
 ############################################################ 
 # SHIBBOLETH                                               # 
 # Definizione filter per aderire al meccanismo di          # 
 # autenticazione shibboleth							    # 
 ############################################################ -->
 <filter>
  <filter-name>Shibboleth filter</filter-name>
  <filter-class>it.csi.shibboleth.shibfilter.ShibbolethFilter</filter-class>
  <!--
			parametri da iniettare in sessione personalizzabile per applicazione
		-->
  <init-param>
   <param-name>IRIDE_ID_SESSIONATTR</param-name>
   <param-value>identita</param-value>
  </init-param>
  <!--
			elenco delle pagine di servizio che non vanno gerizooette dal filtro
		-->
  <init-param>
   <param-name>NO_CHECK_PAGE</param-name>
   <param-value>loginSispie.jsp, IrideRoleSetter, SceltaRuoloPEP.jsp</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>Shibboleth filter</filter-name>
  <url-pattern>/secure/*</url-pattern>
 </filter-mapping>
 <!-- ############################################################ -->
 <filter-mapping>
  <filter-name>stattrace</filter-name>
  <url-pattern>*.htm</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>DispatcherServlet</servlet-name>
  <servlet-class>it.csi.solmr.client.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ExcelServletLavorazioniContoTerzi</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.xls.lavorazionict.ExcelServletLavorazioniContoTerzi</servlet-class>
  <load-on-startup>1000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ExcelServletLavorazioniContoProprio</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.xls.lavorazionicp.ExcelServletLavorazioniContoProprio</servlet-class>
  <load-on-startup>1000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ExcelServletLavorazioniContoTerziPerContoProprio</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.xls.lavorazionictpercp.ExcelServletLavorazioniContoTerziPerContoProprio</servlet-class>
  <load-on-startup>1000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ExcelServletLavorazioniConsorzi</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.xls.lavconsorzi.ExcelServletLavorazioniConsorzi</servlet-class>
  <load-on-startup>1000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>IrideRoleSetter</servlet-name>
  <servlet-class>it.csi.solmr.presentation.login.IrideRoleSetter</servlet-class>
  <load-on-startup>130</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>it.csi.solmr.presentation.login.Login</servlet-class>
  <load-on-startup>140</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletAutocertificazioneConsPrec</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletAutocertificazioneConsPrec</servlet-class>
  <load-on-startup>250</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletDomandeValidateCAA</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletDomandeValidateCAA</servlet-class>
  <load-on-startup>250</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod101</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod101</servlet-class>
  <load-on-startup>104</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod2</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod2</servlet-class>
  <load-on-startup>105</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod25</servlet-name>
  <servlet-class>com.lucana.solmr.client.uma.stampe.StampaServletMod25</servlet-class>
  <load-on-startup>101</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod25A</servlet-name>
  <servlet-class>com.lucana.solmr.client.uma.stampe.StampaServletMod25</servlet-class>
  <load-on-startup>128</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod25S</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod25S</servlet-class>
  <load-on-startup>124</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod26</servlet-name>
  <servlet-class>com.lucana.solmr.client.uma.stampe.StampaServletMod26</servlet-class>
  <load-on-startup>102</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod263</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod263</servlet-class>
  <load-on-startup>103</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod39</servlet-name>
  <servlet-class>com.lucana.solmr.client.uma.stampe.StampaServletMod39</servlet-class>
  <load-on-startup>109</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod4</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod4</servlet-class>
  <load-on-startup>106</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod49A</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod49A</servlet-class>
  <load-on-startup>108</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod72</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod72</servlet-class>
  <load-on-startup>107</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod73</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod73</servlet-class>
  <load-on-startup>110</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod74</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod74</servlet-class>
  <load-on-startup>111</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModASMInCarico</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModASMInCarico</servlet-class>
  <load-on-startup>125</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModBuoniEmessiAnno</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModBuoniAnno</servlet-class>
  <load-on-startup>126</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModBuoniEmessiAnnoCAA</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModBuoniAnnoCAA</servlet-class>
  <load-on-startup>2000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModBuoniNonUtilizzati</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModBuoniNonUtilizzati</servlet-class>
  <load-on-startup>116</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModConsumiEmessiAnno</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModConsumiAnno</servlet-class>
  <load-on-startup>127</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModContatori</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModContatori</servlet-class>
  <load-on-startup>112</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModDistinta</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModDistinta</servlet-class>
  <load-on-startup>108</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModDitte</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModDitte</servlet-class>
  <load-on-startup>123</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModMacchineCaricoGenere</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModMacchineCaricoGenere</servlet-class>
  <load-on-startup>119</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModMacchineCaricoMarca</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModMacchineCaricoMarca</servlet-class>
  <load-on-startup>120</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModMacchineDemolite</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModMacchineDemolite</servlet-class>
  <load-on-startup>118</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModMacchineLeasing</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModMacchineLeasing</servlet-class>
  <load-on-startup>122</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModMovimentiMacchine</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModMovimentiMacchine</servlet-class>
  <load-on-startup>121</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModTrattoriNuoviInCarico</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModTrattoriNuoviInCarico</servlet-class>
  <load-on-startup>117</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModVerifiche</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModVerifiche</servlet-class>
  <load-on-startup>113</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletModVerificheNoAss</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletModVerificheNoAss</servlet-class>
  <load-on-startup>114</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StampaServletMod25_25A</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.stampe.StampaServletMod25_25A</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>StampaServletElencoPrelievi</servlet-name>
  <servlet-class>com.lucana.solmr.client.uma.stampe.StampaServletElencoPrelievi</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CTerziPerCProprioAsyncServlet</servlet-name>
  <servlet-class>it.csi.solmr.client.uma.servletHttp.CTerziPerCProprioAsyncServlet</servlet-class>
 </servlet>
 <!-- REPORT DINAMICI START -->
 <servlet>
  <servlet-name>DettaglioTipologiaReportServlet</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.DettaglioTipologiaReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DettaglioTipologiaReportServletView</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.view.DettaglioTipologiaReportServletView</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ElencoTipologieReportServlet</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.ElencoTipologieReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ElencoTipologieReportServletView</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.view.ElencoTipologieReportServletView</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MacroCategoriaServlet</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.MacroCategoriaServlet</servlet-class>
  <init-param>
   <param-name>urlXmlCostanti</param-name>
   <param-value>it/csi/solmr/etc/constantsReportDin.xml</param-value>
  </init-param>
  <load-on-startup>1000</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>MacroCategoriaServletView</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.view.MacroCategoriaServletView</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RisultatoTipologiaReportServlet</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.ctrl.RisultatoTipologiaReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RisultatoTipologiaReportServletView</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.view.RisultatoTipologiaReportServletView</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RisultatoTipologiaReportServletExcel</servlet-name>
  <servlet-class>it.csi.smrcomms.reportdin.presentation.view.RisultatoTipologiaReportServletExcel</servlet-class>
 </servlet>
 <!-- REPORT DINAMICI END -->
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/anag/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/ditta/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/domass/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/gestioni/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/secure/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/loginssl</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/macchina/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/macchinaras/layout/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniContoTerzi</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_per_conto_terzi.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniContoTerzi</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_per_conto_terzi_storico.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniContoProprio</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_conto_proprio.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniContoTerziPerContoProprio</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_ct_per_cp.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniConsorzi</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_consorzi.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelServletLavorazioniConsorzi</servlet-name>
  <url-pattern>/ditta/xls/lavorazioni_consorzi_storico.xls</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/servlet/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IrideRoleSetter</servlet-name>
  <url-pattern>/servlet/IrideRoleSetter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletAutocertificazioneConsPrec</servlet-name>
  <url-pattern>/servlet/StampaServletAutocertificazioneConsPrec</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletDomandeValidateCAA</servlet-name>
  <url-pattern>/servlet/StampaServletDomandeValidateCAA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod101</servlet-name>
  <url-pattern>/servlet/StampaServletMod101</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod2</servlet-name>
  <url-pattern>/servlet/StampaServletMod2</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod25</servlet-name>
  <url-pattern>/servlet/StampaServletMod25</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod25A</servlet-name>
  <url-pattern>/servlet/StampaServletMod25A</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod25S</servlet-name>
  <url-pattern>/servlet/StampaServletMod25S</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod26</servlet-name>
  <url-pattern>/servlet/StampaServletMod26</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod263</servlet-name>
  <url-pattern>/servlet/StampaServletMod263</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod39</servlet-name>
  <url-pattern>/servlet/StampaServletMod39</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod4</servlet-name>
  <url-pattern>/servlet/StampaServletMod4</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod49A</servlet-name>
  <url-pattern>/servlet/StampaServletMod49A</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod72</servlet-name>
  <url-pattern>/servlet/StampaServletMod72</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod73</servlet-name>
  <url-pattern>/servlet/StampaServletMod73</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod74</servlet-name>
  <url-pattern>/servlet/StampaServletMod74</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModASMInCarico</servlet-name>
  <url-pattern>/servlet/StampaServletModASMInCarico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModBuoniEmessi</servlet-name>
  <url-pattern>/servlet/StampaServletModBuoniEmessi</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModBuoniEmessiAnno</servlet-name>
  <url-pattern>/servlet/StampaServletModBuoniEmessiAnno</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModBuoniEmessiAnnoCAA</servlet-name>
  <url-pattern>/servlet/StampaServletModBuoniEmessiAnnoCAA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModBuoniNonUtilizzati</servlet-name>
  <url-pattern>/servlet/StampaServletModBuoniNonUtilizzati</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModConsumiEmessiAnno</servlet-name>
  <url-pattern>/servlet/StampaServletModConsumiEmessiAnno</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModContatori</servlet-name>
  <url-pattern>/servlet/StampaServletModContatori</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModDistinta</servlet-name>
  <url-pattern>/servlet/StampaServletModDistinta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModDitte</servlet-name>
  <url-pattern>/servlet/StampaServletModDitte</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModMacchineCaricoGenere</servlet-name>
  <url-pattern>/servlet/StampaServletModMacchineCaricoGenere</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModMacchineCaricoMarca</servlet-name>
  <url-pattern>/servlet/StampaServletModMacchineCaricoMarca</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModMacchineDemolite</servlet-name>
  <url-pattern>/servlet/StampaServletModMacchineDemolite</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModMacchineLeasing</servlet-name>
  <url-pattern>/servlet/StampaServletModMacchineLeasing</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModMovimentiMacchine</servlet-name>
  <url-pattern>/servlet/StampaServletModMovimentiMacchine</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModTrattoriNuoviInCarico</servlet-name>
  <url-pattern>/servlet/StampaServletModTrattoriNuoviInCarico</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModVerifiche</servlet-name>
  <url-pattern>/servlet/StampaServletModVerifiche</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletModVerificheNoAss</servlet-name>
  <url-pattern>/servlet/StampaServletModVerificheNoAss</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletMod25_25A</servlet-name>
  <url-pattern>/servlet/StampaServletMod25_25A</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StampaServletElencoPrelievi</servlet-name>
  <url-pattern>/servlet/StampaServletElencoPrelievi</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CTerziPerCProprioAsyncServlet</servlet-name>
  <url-pattern>/servlet/CTerziPerCProprioAsyncServlet</url-pattern>
 </servlet-mapping>
 <!-- REPORT DINAMICI START -->
 <servlet-mapping>
  <servlet-name>DettaglioTipologiaReportServlet</servlet-name>
  <url-pattern>/servlet/dettaglioTipologia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DettaglioTipologiaReportServletView</servlet-name>
  <url-pattern>/servlet/dettaglioTipologiaView</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MacroCategoriaServlet</servlet-name>
  <url-pattern>/servlet/elencoCategorie</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MacroCategoriaServletView</servlet-name>
  <url-pattern>/servlet/elencoCategorieView</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ElencoTipologieReportServlet</servlet-name>
  <url-pattern>/servlet/elencoTipologie</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ElencoTipologieReportServletView</servlet-name>
  <url-pattern>/servlet/elencoTipologieView</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RisultatoTipologiaReportServlet</servlet-name>
  <url-pattern>/servlet/risultatoTipologia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RisultatoTipologiaReportServletView</servlet-name>
  <url-pattern>/servlet/risultatoTipologiaView</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RisultatoTipologiaReportServletExcel</servlet-name>
  <url-pattern>/servlet/risultatoTipologiaExcel</url-pattern>
 </servlet-mapping>
 <!-- REPORT DINAMICI END -->
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <error-page>
  <error-code>500</error-code>
  <location>/error/errorPage.jsp</location>
 </error-page>
 <error-page>
  <exception-type>it.csi.solmr.exception.ValidationException</exception-type>
  <location>/error/ValidationErrorPage.jsp</location>
 </error-page>
</web-app>
