<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />

    <script src="/staticresources/js/checktext.js"></script>

  $$messaggistica</head>
    <body onLoad="$$err_error">
<form method="post" name="form1" action="../../macchina/layout/confermaInserimentoComproprietari.htm">
  <input type="hidden" name="idMacchina" value="$$idMacchina">
<div id="titoloEmenu">
					<h3>Conferma inserimento comproprietari</h3>
				</div>
 
 
 <div id="corpo">  
  <div class="alert-info">$$messaggio </div>
        <br>
        
        <div class="bottone">
                          <div class="left"> <input type="submit" value="conferma" name="conferma"></div>
                      <div class="right">
                      <input type="submit" value="annulla" name="annulla"></div>
                 </div>
                 
          

	<table class="data" dwcopytype="CopyTableCell">
<col ; text-align:right>
<col ; text-align:left>
<col ; text-align:right>
</table>
    </div>
</form>
  </body>
</html>

