<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script language="javascript1.2" src="/staticresources/js/checktext.js"></script>
$$messaggistica</head>
<body>
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
  <h2> UMA - Utenti motori agricoli </h2>
  <p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
</div>
<div id="corpo">
<form name="form1" method="post" action="dettaglioMacchinaDittaNuovaAttestazione.htm">
  <div id="navi"> <a href="../../layout/index.htm">utenti motori agricoli</a> &gt; macchine &gt; attestazioni di propriet&agrave &gt; inserisci </div>
  <!-- tabella a due colonne per il contenuto -->
  <table id="contenuto">
    <tr>
      <td class="elenco"><div class="menu">
          <!-- @@blkRICERCA_DITTA -->
          <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
          <!-- @@blkRICERCA_DITTA -->
          <!-- @@blkAZIENDE_TITOLARE -->
          <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
          <!-- @@blkAZIENDE_TITOLARE -->
          <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
          <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca macchina</a>
          <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
          <!-- @@blkNUOVA_DITTA -->
          <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
          <!-- @@blkNUOVA_DITTA -->
          <!-- @@blkSTAMPA_ELENCHI -->
          <a  href="../../layout/stampaElenchi.htm">Stampe elenchi</a>
          <!-- @@blkSTAMPA_ELENCHI -->
          <!-- @@blkMenuDatiSistema -->
          <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
          <!-- @@blkMenuDatiSistema -->
        </div>
       
        <!--						 @@blkMenuDittaUMA -->
        <div class="menu"> <span class="etichettamenu"><a href="../../anag/layout/dettaglioAzienda.htm">Ditta UMA</a></span> </div>
        <!--						 @@blkMenuDittaUMA -->
        <!-- @@blkMenuAssegnazione -->
        <div class="menu"> <span class="etichettamenu"><a href="../../domass/layout/assegnazioni.htm">Assegnazione carburante </a></span> </div>
        <!--						 @@blkMenuAssegnazione -->
        <!-- @@blkMenuBuoni -->
        <div class="menu"><span class="etichettamenu"> <a href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di prelievo</a> </span></div>
        <!--						 @@blkMenuBuoni -->
        <!-- @@blkMenuMacchine -->
        <div class="menu"> <span class="etichettamenu"><a href="../layout/elencoMacchine.htm">Macchine </a></span>
          <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
          <a href="../layout/dettaglioMacchinaDittaComproprietari.htm" id="ocra">attestazioni di propriet&agrave</a>
          <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
          <div class="sottomenu"> 
            <!--						 @@blkGESTIONE_MACCHINA -->
            <span class="inattivo2">inserisci</span>
            <!-- @@blkGESTIONE_MACCHINA -->
          </div>
        </div>
        <!-- @@blkMenuMacchine -->
      </td>
      <td><!-- cella di destra, contiene i "tabelloni"-->
        <p class="datiazienda">azienda selezionata</p>
        <p class="datiaziendaB">$$CUAA $$denominazione</p>
        <p class="datiaziendaB">Ditta UMA N. $$dittaUMA / $$umaTipoDitta</p>
        <p class="datiazienda">provincia di competenza $$provincia</p>
        <br>
        <table class="data">
          <tr>
            <th>Genere</th>
            <td>$$genere</td>
          </tr>
          <tr>
            <th>Categoria</th>
            <td>$$categoria</td>
          </tr>
          <tr>
            <th>Marca</th>
            <td>$$marca</td>
          </tr>
          <tr>
            <th>Tipo</th>
            <td>$$tipo</td>
          </tr>
          <tr>
            <th>Matricola telaio</th>
            <td>$$matTelaio</td>
          </tr>
          <tr>
            <th>Matricola motore</th>
            <td>$$matMotore</td>
          </tr>
          <tr>
            <th>Targa</th>
            <td>$$targa</td>
          </tr>
        </table>
        <!--@@blkDittaLocataria-->
        <h3>Ditta locataria: </h3>
        <table class="dataCol">
          <tr>
            <th>Partita I.V.A.</th>
            <th>Ragione sociale</th>
            <th>Sede legale</th>
          </tr>
          <!--@@blkRigaDitta-->
          <tr>
            <td>$$partIVA</td>
            <td>$$denominazione</td>
            <td>$$comune $$cap $$siglaProv $$indirizzo</td>
          </tr>
          <!--@@blkRigaDitta-->
        </table>
        <!--@@blkDittaLocataria-->
        <!--@@blkSocieta-->
        <h3>Societ&agrave utilizzatrici: </h3>
        <table class="dataCol">
          <tr>
            <th>Ditta UMA</th>
            <th>C.U.A.A.</th>
            <th>Ragione sociale</th>
            <th>Sede legale</th>
          </tr>
          <!--@@blkRigaSocieta-->
          <tr>
            <td>$$provUMA $$dittaUMA</td>
            <td>$$CUAA</td>
            <td>$$denominazione</td>
            <td>$$comune $$cap $$siglaProv $$indirizzo</td>
          </tr>
          <!--@@blkRigaSocieta-->
        </table>
        <!--@@blkSocieta-->
        <!--@@blkSoggettiCollegati-->
        <h3>Soggetti collegati alle ditte individuali utilizzatrici: </h3>
        <table class="dataCol">
          <tr>
            <td>&nbsp;</td>
            <th>Ditta UMA</th>
            <th>Codice Fiscale</th>
            <th>Cognome e nome</th>
            <th>Residenza</th>
          </tr>
          <!--@@blkRigaSoggetti-->
          <tr>
            <input type="hidden" name="dittaUMARef_$$counter" value="$$provUMA$$dittaUMA">
            <td class="radio"><input type="checkbox" name="checkSoggetto_$$counter" value ="$$idSoggetto§$$provUMA$$dittaUMA" $$checked>
            </td>
            <td>$$provUMA $$dittaUMA</td>
            <td>$$codFiscale</td>
            <td>$$cognome $$nome</td>
            <td>$$comune $$cap $$siglaProv $$indirizzo</td>
          </tr>
          <!--@@blkRigaSoggetti-->
        </table>
        <!--@@blkSoggettiCollegati-->
        <div class="bottone">
          <div class="left">
            <input type="submit" value="salva" name="salva">
          </div>
          <div align="right">
            <input type="submit" value="annulla" name="annulla">
          </div>
        </div></td>
    </tr>
 
  </table>
  <!-- fine della tabella a due colonne -->
</form>
    	<footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
