<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<script src="/staticresources/js/checktext.js"></script>
<script language="JavaScript">
  function indietro(){
    var oldAction = document.form1.action;
    document.form1.action='../layout/elencoMacchineTrovate.htm';
    document.form1.indietro.value = 'indietro';
    document.form1.submit();
    document.form1.action=oldAction;
  }

  function dettaglio(){
    document.form1.action = '../layout/dettaglioMacchinaUtilizzo.htm';
    document.form1.target = '';
    document.form1.dettaglioUtilizzo.value = 'dettaglioUtilizzo';
    document.form1.submit();
  }

  function goTo(){
    var radio=document.form1.idUtilizzo;
    if (!radio){
      alert("Nessun utilizzo!");
      return;
    }
    if (!radio.length){
      if (radio.checked){
        currentSelection=radio.value;
        dettaglio();
        return;
      }
    }
    else{
      for(i=0;i<radio.length;i++){
        if (radio[i].checked){
          currentSelection=radio[i].value;
          dettaglio();
          return;
        }
      }
    }
    alert("Selezionare un utilizzo!");
  }


</script>
$$messaggistica</head>
<body onLoad="$$err_error">
<form name="form1" method="post" action="dettaglioMacchinaUtilizzo.htm">
  <input type="hidden" name="indietro" value="$$indietro">
  <input type="hidden" name="dettaglioUtilizzo" value="$$dettaglioUtilizzo">
  <div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
  <div id="titoloEmenu">
    <h2> UMA - Utenti motori agricoli </h2>
    <p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
  </div>
  <div id="corpo">
    <div id="navi"><a href="../../layout/index.htm">utenti motori agricoli</a> &gt; ricerca macchina &gt; elenco ditte utilizzatrici</div>
    <!-- tabella a due colonne per il contenuto -->
    <table id="contenuto">
      <tr>
        <td class="elenco"><!-- cella che contiene i menu -->
          <div class="menu">
            <!-- @@blkRICERCA_DITTA -->
            <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
            <!-- @@blkRICERCA_DITTA -->
            <!-- @@blkAZIENDE_TITOLARE -->
            <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
            <!-- @@blkAZIENDE_TITOLARE -->
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <a href="../layout/ricercaMacchina.htm">Ricerca macchina</a>
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <!-- @@blkNUOVA_DITTA -->
            <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
            <!-- @@blkNUOVA_DITTA -->
            <!-- @@blkSTAMPA_ELENCHI -->
            <a  href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
            <!-- @@blkSTAMPA_ELENCHI -->
            <!-- @@blkMenuDatiSistema -->
            <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
            <!-- @@blkMenuDatiSistema -->
          </div>
          <!--	 @@blkMenuMacchine -->
          <div class="menu">
           <span class="etichettamenu"><a href="#">Macchine</a></span>
            <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
            <a href="javascript: goTo()">dettaglio</a>
                   <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
           </div>
          <!-- @@blkMenuMacchine -->
        <td>
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Genere</th>
              <td>$$genere</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>$$categoria</td>
            </tr>
            <tr>
              <th>Marca</th>
              <td>$$marca</td>
            </tr>
            <tr>
              <th>Tipo</th>
              <td>$$tipo</td>
            </tr>
            <tr>
              <th>Matricola telaio</th>
              <td>$$matTelaio</td>
            </tr>
            <tr>
              <th>Matricola motore</th>
              <td>$$matMotore</td>
            </tr>
            <tr>
              <th>Targa</th>
              <td>$$targa</td>
            </tr>
            <tr>
              <th>Data prima immatricolazione</th>
              <td>$$dataPrimaImmatricolazione</td>
            </tr>
          </table><br />

          <div class="tab">
            <p class="etichette"><a href="dettaglioMacchinaDati.htm">Caratteristiche tecniche</a></p>
            <p class="etichette tabAttivo">Utilizzo</p>
            <p class="etichette"><a href="dettaglioMacchinaComproprietari.htm">Attestazioni propriet&agrave</a></p>
            <p class="etichette"><a href="dettaglioMacchinaImmatricolazioni.htm">Targhe/Movimentazione</a></p>
          </div>
          <table class="dataCol">
            <tr>
              <td>&nbsp;</td>
              <th>Ditta</th>
              <th>Data carico</th>
              <th>Data scarico</th>
              <th>Motivo scarico</th>
              <th>Ultima modifica </th>
            </tr>
            <!--@@rigaUtilizzo-->
            <tr>
              <td class="radio"><input type="radio" name="idUtilizzo" value="$$idUtilizzo">
              </td>
              <td>$$ditta</td>
              <td>$$dataCarico</td>
              <td>$$dataScarico</td>
              <td>$$motivoScarico</td>
              <td>$$ultimaModifica</td>
            </tr>
            <!--@@rigaUtilizzo-->
          </table>
          @@blkIndietro
          <div class="bottone"><a href="javascript: indietro()"  class="pulsante">indietro</a></div>
          @@blkIndietro </td>
      </tr>
    </table>
    <!-- fine della tabella a due colonne -->
  </div>
</form>
<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <hr />
    <a name="footer"></a>
    <div class="custom footerCsi row-fluid">
      <div class="span3 col-sm-3"> <a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
      <div class="span9 col-sm-9"> Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
    </div>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
