<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" /> 
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
    <script src="/staticresources/js/checktext.js"></script>
  $$messaggistica</head>
    <body onLoad="$$err_error">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
<div id="titoloEmenu">
					<h2>
						UMA - Utenti motori agricoli
					</h2>
					<p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
				</div>
 
 <div id="corpo">
 <div id="navi"> <a href="../../layout/index.htm">utenti motori
          agricoli </a> &gt; dati di sistema &gt; matrici &gt; modifica</div>
        <!-- tabella a due colonne per il contenuto -->
        <table id="contenuto">
       <tr>
             <td class="elenco">
              <!-- cella che contiene i menu -->
              
                <div class="menu">
<!-- @@blkRICERCA_DITTA -->
                <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
<!-- @@blkRICERCA_DITTA -->
<!-- @@blkAZIENDE_TITOLARE -->
                <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
<!-- @@blkAZIENDE_TITOLARE -->
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
                   <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca macchina</a>
<!-- @@blkVISUALIZZA_DATI_MACCHINA -->
<!-- @@blkNUOVA_DITTA -->
                   <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta UMA</a>
<!-- @@blkNUOVA_DITTA -->
<!-- @@blkSTAMPA_ELENCHI -->
                   <a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
<!-- @@blkSTAMPA_ELENCHI -->
<!-- @@blkMenuDatiSistema -->
                   <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
                </div>
              <br>
              <div class="menu"><span class="etichettamenu"><a href="Matrici">Matrici </a></span>
<!-- @@blkAGGIORNA_MATRICI -->
                <span class=inattivo>modifica</span>  <!--						 @@blkAGGIORNA_MATRICI -->
              </div>
<!-- @@blkMenuDatiSistema -->
              </td>

            <td><!-- cella di destra, contiene i "tabelloni"-->

            <form name="form1" method="post" action="../../macchina/layout/modificaMatrici.htm">
              <table class="data">
                <col width="25%" />
                <col width="75%" />
                <tr>
                  <th>Genere</th>
                  <td>$$descGenereMacchina</td>
                </tr>
                <tr>
                  <th>Categoria</th>
                  <td>$$descCategoria</td>
                </tr>
                <tr>
                  <th>Marca</th>
                  <td>$$descMarca</td>
                </tr>
                <tr>
                  <th>Tipo</th>
                  <td>
                     <input name="tipoMacchina" type="text" value="$$tipoMacchina" maxlength="40">$$err_tipoMacchina</td>
                </tr>
                <tr>
                  <th>Numero matrice</th>
                  <td>$$numeroMatrice</td>
                </tr>
                <tr>
                  <th>Numero omologazione</th>
                  <td>
                     <input name="numeroOmologazione" type="text" value="$$numeroOmologazione" maxlength="30">$$err_numeroOmologazione</td>
                </tr>
                <tr>
                  <th>Alimentazione *</th>
                  <td>$$cmb_tipiAlimentazione_noDimensione $$err_tipiAlimentazione</td>
                </tr>
                <tr>
                  <th>Potenza CV *</th>
                  <td>
                     <input name="potenzaCV" type="text" value="$$potenzaCV" maxlength="3">$$err_potenzaCV</td>
                </tr>
                <tr>
                  <th>Potenza Kw</th>
                  <td>
                     <input name="potenzaKW" type="text" value="$$potenzaKW" maxlength="3">$$err_potenzaKW</td>
                </tr>
                <tr>
                  <th>Consumo orario</th>
                  <td>
                     <input name="consumoOrario" type="text" value="$$consumoOrario" maxlength="3">$$err_consumoOrario</td>
                </tr>
                <tr>
                  <th>Trazione</th>
                  <td>$$cmb_tipiTrazione_noDimensione $$err_tipiTrazione</td>
                </tr>
                <tr>
                  <th>Nazionalit&agrave; *</th>
                  <td>$$cmb_tipiNazionalita_noDimensione $$err_tipiNazionalita</td>
                </tr>
                <tr>
                  <th> Illuminazione</th>
                  <td>
                     <input name="illuminazione" type="text" value="$$illuminazione" maxlength="1"></td>
                </tr>
              </table>
               <p> I dati contrassegnati con asterisco sono obbligatori, la
                    &quot;potenza&quot; può essere espressa in CV o Kw.</p>
                <br>
                 <div class="bottone">
                        <div class="left"> <input type="submit" name="salva" value="salva"></div>
                   
                     <div class="right">
                      <input type="submit" name="annulla" value="annulla"></div>
                    </div>
                  
                  </form>
                </td>

          </tr>
         
        </table> 
         <!-- fine della tabella a due colonne -->

    </div>
    
     <footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<hr /><a name="footer"></a>
<div class="custom footerCsi row-fluid">
	<div class="span3 col-sm-3">
	<a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
<div class="span9 col-sm-9">
	Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
</div>
		</div>
	</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>

