<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>Regione TOBECONFIG - Utenti motori agricoli</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="TOBECONFIG" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,nofollow" />
<meta name="description" content="Regione TOBECONFIG - Utenti motori agricoli" />
<meta name="keywords" content="TOBECONFIG,Utenti motori agricoli" />
<link href="/staticresources/css/srmuma/srmuma.css" rel="stylesheet" type="text/css" media="screen" id="skin" />
<head>
<script src="/staticresources/js/checktext.js"></script>
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'dettaglio','scrollbars=yes,resizable=yes,width=800,height=600,status=no,location=no,toolbar=no');
}
//-->
</script>
<script>var messaggio="Sei sicuro?";</script>
$$messaggistica</head>
<body>
<form name="form1" action="../layout/venditaFuoriRegione.htm" method="post">
<div id="portalHeader">
  <noscript class="alert_js">
  <p>ATTENZIONE! Il browser in uso non supporta le applicazioni Javascript.<br />
    Per usufruire in maniera completa di alcuni servizi presenti in RuparTOBECONFIG,
    potrebbe essere necessario l&acute;utilizzo dei Javascript.</p>
  </noscript>
  <!--<div id="intestazione">-->
  <div class="row-fluid menupaprivati">
    <ul class="nav menu pull-right">
      <li class="active parent"> </li>
    </ul>
    <ul class="nav menu pull-right">
      <li class="parent"> </li>
    </ul>
    <ul class="nav menu menuTopSx pull-left">
      <li> </li>
      <li>  </li>
    </ul>
  </div>
  <div class="header">
    <h1>Regione TOBECONFIG</h1>
  </div>
</div>
  <div id="titoloEmenu">
    <h2> UMA - Utenti motori agricoli </h2>
    <p class="grigio"> utente: $$utente <span class="ente"> ente: $$ente</span></p>
  </div>
  <div id="corpo">
    <div id="navi"><a href="../../layout/index.htm">utenti motori agricoli </a>&gt; macchine &gt;
      elenco &gt; targhe/movimentazione &gt; vendita fuori regione</div>
    <!-- tabella a due colonne per il contenuto -->
    <table id="contenuto">
      <tr>
        <td class="elenco"><!-- cella che contiene i menu -->
          <div class="menu">
            <!-- @@blkRICERCA_DITTA -->
            <a href="../../anag/layout/ricercaAzienda.htm">Ricerca ditta UMA</a>
            <!-- @@blkRICERCA_DITTA -->
            <!-- @@blkAZIENDE_TITOLARE -->
            <a href="../../anag/layout/elencoAziendeRapLegale.htm">Elenco ditte</a>
            <!-- @@blkAZIENDE_TITOLARE -->
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <a href="../../macchina/layout/ricercaMacchina.htm">Ricerca   macchina</a>
            <!-- @@blkVISUALIZZA_DATI_MACCHINA -->
            <!-- @@blkNUOVA_DITTA -->
            <a href="../../ditta/layout/nuovaDittaUmaAnagrafica.htm">Nuova ditta  UMA</a>
            <!-- @@blkNUOVA_DITTA -->
            <!-- @@blkSTAMPA_ELENCHI -->
            <a href="../../layout/stampaElenchi.htm">Stampa elenchi</a>
            <!-- @@blkSTAMPA_ELENCHI -->
            <!-- @@blkMenuDatiSistema -->
            <a href="../../layout/dati_sistema.htm">Dati di sistema</a>
            <!-- @@blkMenuDatiSistema -->
          </div>
          <!--						 @@blkMenuDittaUMA -->
          <div class="menu"><span class="etichettamenu"><a href="../../anag/layout/dettaglioAzienda.htm">Ditta Uma</a></span></div>
          <!--						 @@blkMenuDittaUMA -->
          <!-- @@blkMenuAssegnazione -->
          <div class="menu"><span class="etichettamenu"><a href="../../domass/layout/assegnazioni.htm">Assegnazione carburante</a></span></div>
          <!--						 @@blkMenuAssegnazione -->
          <!-- @@blkMenuBuoni -->
          <div class="menu"><span class="etichettamenu"><a href="../../domass/layout/elencoBuoniEmessi.htm">Buoni di prelievo</a></span></div>
          <!--						 @@blkMenuBuoni -->
          <!-- @@blkMenuMacchine -->
          <div class="menu"><span class="voceAttiva">Macchine<br>
            </span>
            <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
            <a href="../../macchina/layout/elencoMacchine.htm">elenco</a>
            <!-- @@blkVISUALIZZA_MACCHINA_DITTA -->
            <!-- @@blkGESTIONE_MACCHINA -->
            <!-- <a href="../../macchina/layout/MacchinaNuovaGenere.htm">acquisto macchina nuova </a> 
            <a href="../../macchina/layout/MacchinaUsataTarga.htm">acquisto macchina usata</a> -->
            <!-- @@blkGESTIONE_MACCHINA -->
          </div>
          <!-- @@blkMenuMacchine -->
        </td>
        <td><!-- cella di destra, contiene i "tabelloni"-->
          <p class="datiazienda">azienda selezionata </p>
          <p class="datiaziendaB">$$umaDittaCUAA - $$umaNomeAzienda</p>
          <p class="datiaziendaB">Ditta N. $$umaNumAzienda /$$umaTipoDitta</p>
          <p class="datiazienda"> provincia di competenza $$umaProvinciaDitta</p>
          <br />
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Genere</th>
              <td>$$descGenereMacchina</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>$$descCategoria</td>
            </tr>
            <tr>
              <th>Marca</th>
              <td>$$marca</td>
            </tr>
            <tr>
              <th>Tipo</th>
              <td>$$tipoMacchina</td>
            </tr>
            <tr>
              <th>Matricola
                telaio</th>
              <td>$$matricolaTelaio</td>
            </tr>
            <tr>
              <th>Matricola
                motore</th>
              <td>$$matricolaMotore</td>
            </tr>
            <tr>
              <th>Targa</th>
              <td>$$targa</td>
            </tr>
          </table>
          <br />
          <h3>Ditta e targa di destinazione  fuori regione</h3>
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Sigla Provincia *</th>
              <td><input type="text" name="siglaProvincia" size="3" maxlength="2" value="$$siglaProvincia">
                $$err_siglaProvincia </td>
            </tr>
            <tr>
              <th>Numero Ditta UMA *</th>
              <td><input type="text" name="numeroDittaUMA" maxlength="6" value="$$numeroDittaUMA">
                $$err_numeroDittaUMA </td>
            </tr>
            <tr>
              <th>E' stata assegnata una nuova targa * </th>
              <td><input type="radio" name="tipoTargaAssegnata" value="N" $$tipoTargaAssegnata>
                NO
                @@blkStradale
                <input type="radio" name="tipoTargaAssegnata" value="Stradale" $$tipoTargaAssegnata>
                Stradale
                @@blkStradale
                @@blkUMA
                <input type="radio" name="tipoTargaAssegnata" value="UMA" $$tipoTargaAssegnata>
                UMA </td>
              @@blkUMA </tr>
            <tr>
              <th>Nuova targa </th>
              <td><input type="text" name="numeroNuovaTarga" size="10" value="$$numeroNuovaTarga">
                $$err_numeroNuovaTarga </td>
            </tr>
          </table>
          <br />
          <h3>Modello 49 emesso dalla Regione di destinazione della macchina</h3>
          <table class="data">
            <col width="25%" />
            <col width="75%" />
            <tr>
              <th>Numero modello</th>
              <td><input type="text" name="numeroModello49" size="10" maxlength="6" value="$$numeroModello49">
                $$err_numeroModello49</td>
            </tr>
            <tr>
              <th>Anno modello</th>
              <td><input type="text" name="annoModello49" size="10" maxlength="4" value="$$annoModello49">
                $$err_annoModello49</td>
            </tr>
          </table>
          <div class=bottone>
            <div class="left">
              <input type="submit" value="annulla" name="annulla">
            </div>
            <div class="right">
              <input type="submit" value="conferma" name="conferma">
            </div>
          </div></td>
      </tr>
    </table>
    <!-- fine della tabella a due colonne -->
  </div>
</form>
<footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <hr />
    <a name="footer"></a>
    <div class="custom footerCsi row-fluid">
      <div class="span3 col-sm-3"> <a href="http://www.regione.TOBECONFIG.it"><img alt="regione TOBECONFIG" src="/staticresources/assets/application/psrpratiche/css/images/TOBECONFIG.png" width="180px" /></a></div>
      <div class="span9 col-sm-9"> Regione TOBECONFIG - Partita Iva xxxx - Codice fiscale 80002950766 </div<
    </div>
  </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7226140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
